@import '../../assets/scss/styles';
.sec_title_wrap {
    padding:1rem 1.5rem 1rem 0.5rem;
    @include flex(space-between, center);
    border-bottom: none;
    border-radius: 0.25rem;
    .btn-back{
        font-size: 1.125rem;
        line-height: 1.5rem;
        i, em{
            background-image: url(../../assets/images/back-arrow2.svg);
        }
    }
    span{
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
    
    .call-cont{
        @include flex(flex-start, center);
        label{
            font-size: 0.875rem;
            line-height: 1.063rem;
            margin:0 0.375rem 0 0;
            font-family: $font-base-reg;
            font-weight: normal;
            color: $grey-med;
        }
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
            @include flex(flex-start , center);
            li{
                @include flex(flex-start , center);
                margin-right: 0.75rem;
                button{
                    min-width: 1.5rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: 2px;
                    border: none;
                }
                span{
                    font-size: 1rem;
                    line-height: 1.5rem;
                    font-family: $font-base-med;
                    color: $base-text;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
   
}
.customPopover{
    cursor: pointer;
    position: relative;
    padding: 0px;
    min-width: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: $tbl-hoverd-bg1;

    .custompopoverCont{
        position: absolute;
        left: 0px;
        top: calc(100% + 5px);
        background: $base-text;
        color: $white;
        padding: 0.438rem 0.75rem;
        border-radius: 2px;
        font-size: 0.75rem;
        line-height: 0.875rem;
        display: none;
        &:before{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent $base-text transparent;
            position: absolute;
            top: -4px;
        }
    }
    &.left{
        .custompopoverCont{
            left: -6px;
            min-width: 94px;
        }
    }
    &.right{
        .custompopoverCont{
            left: auto;
            right: -1rem;
            min-width: 98px;
            &:before{
                left: auto;
                right: 1.5rem;
            }
        }
    }
    &:hover{
        .custompopoverCont{
            display: block;
        }
    }
}
.filter-by-sec{
    @include flex(flex-start, center);
    padding: 0 1.250rem 1.250rem 1.250rem;
    border-bottom:1px solid  $border-type5 ;
    label{
        margin:0 0.75rem 0.25rem 0;
        font-size: 0.75rem;
        line-height: 0.875rem;
    }
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        @include flex(flex-start, flex-start);
        li{
            margin: 0 0.25rem 0.25rem 0;
            .btn{
                min-width: 10px;
                padding: 0.438rem 0.938rem;
                font-size: 0.875rem;
                line-height: 1.063rem;
                height: auto;
                &.active{
                    color: $highlighted !important;
                    background: #eff1fb !important;
                    border-color: $border-type5 !important;
                    font-family: $font-base-med;
                }
            }
        }
    }
}
.scrollable-cont{
    height: calc(100vh - 15.063rem );
    @include ipad-up{
        height: calc(100vh - 15.063rem - 4.188rem);
    }
    .noHistoryWrap{
        min-height: calc(100vh - 15.063rem );
        @include ipad-up{
            min-height: calc(100vh - 15.063rem - 4.188rem);
        } 
    }
    &.long-term-cont{
        height: calc(100vh - 11.438rem );
        @include ipad-up{
            height: calc(100vh - 11.438rem - 4.188rem);
        }
        .noHistoryWrap{
            height: calc(100vh - 11.438rem );
            @include ipad-up{
                height: calc(100vh - 11.438rem - 4.188rem);
            }
        }
    }
}

.table-head-wrap{
    margin-bottom: 4px;
    border-top: 1px solid $border-type5;
}
.call-category-sec{
    padding:1.438rem 1.250rem;
    @include flex(flex-start, center);
    label{
        font-size: 0.813rem;
        line-height: 1rem;
        text-transform: uppercase;
        margin: 0 0.5rem 0 0;
        font-family: $font-base-med;
        color: $base-text;
        letter-spacing: 0.2px;
    }
    .badge{
        padding: 0px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
         font-size: 0.813rem;
        line-height: 1rem;
        font-family: $font-base-med;
        font-weight: normal;
        color: $base-text;
        @include inlineFlex(center, center);
        background: $bg;
    }
}
.main-tr{
    cursor: pointer;
    >.main-tr-clicked{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}
.table{
        &.mainTable{
            >tbody{
                >tr{
                    &:hover{
                        background: $tbl-hoverd-bg1;
                        .colName{
                            .comp-info-sec{
                                .addToWishlist{
                                    .custom-addtowl{
                                        background: url(../../assets/images/wishlist-icon2.svg) left top no-repeat;
                                    }
                                }
                            }
                        }
                    }
                    &.activeParentRow{
                        &:hover{
                            background: $white;
                        }
                        border-bottom: 4px solid $bg;
                        border-radius: 4px;
                        &:after{
                            opacity: 0;
                        }
                    }
                    &:last-child{
                        &:after{
                            display: block;
                        }
                    }
                    &:after{
                        border-color:$light-border-color;
                    }
                    
                }
            }
        }
        tr{
            .colName{
                width: 24.5%;
            }
            .colLtp {
                width: 14%;
            }
            .colQuantiy {
                width:17.5%;
                @include midDesktop{
                    width: 16.5%;
                }
                @include ipad-up{
                    width: 15.5%;
                }
            }
            .colMaxLoss {
                width:14%;
            }
            .colMaxProfit {
                width: 14%;
                @include midDesktop{
                    width: 15%;
                }
                @include ipad-up{
                    width: 15%;
                }
            }
            .colAmt {
                width:16.5%;
                position: relative;
                @include midDesktop{
                    width: 16%;
                }
              .errMsg{
                  position: absolute;
                  margin-top: 3px;
                  font-size: 0.75rem;
                  color:$red;
                  width: 335px;
              }  
                
            }
            .colReturn {
                width:15%;
                @include midDesktop{
                    width: 15.5%;
                }
                .price-info-sec {
                    .price{
                        &:after{
                            display: none;
                        }
                    }
                }
            }
            .colLTQuantity {
                width: 14%;
               
                @include ipad-up{
                    width: 14%;
                }
                .price-info-sec {
                    .price{
                        &:after{
                            display: none;
                        }
                    }
                }
            }

            .colBtn {
                width: 16%;
                padding-right: 0px !important;
                @include ipad-up{
                    width: 15%;
                }
                .arrow{
                    transition: none;
                    opacity: 0.5;
                }
            }
        }
        .main-tr{
            &.activeRow{
                &:hover{
                    background: transparent;
                }
                
                .colBtn {
                    .arrow{
                        transform: rotate(180deg);
                    }
                }

            }
            > td{
                padding-top: 3.125rem !important;
            }
        }
        td{
           
            .comp-info-sec {
                position: relative;
                padding-left: 2.250rem;
                @include ipad-up{
                    padding-left: 1.75rem;
                }
                .addToWishlist{
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    margin-top: -0.75rem;

                    .custom-addtowl{
                        width: 1.5rem;
                        height: 1.5rem;
                        background: url(../../assets/images/wishlist-icon1.svg) left top no-repeat;
                    }
                }
                .scrip_name{
                    font-size: 1rem;
                    margin-bottom: 0.25rem;
                    color: $base-text;
                    @include ipad-up{
                        font-size: 0.875rem;
                    }
                    .badge{
                        @include ipad-up{
                            margin-left: 0.2rem;
                        }
                    }
                }
                .comp_name{
                    color: $grey-med;
                }
            }
            .price-info-sec {
                .price{
                    font-size: 1rem;
                    line-height: 1.188rem;
                    padding-bottom: 0.25rem;
                    @include flex(flex-start, center);
                    &:after{
                        top: auto !important;
                        margin-left: 0.25rem;
                    }
                    @include ipad-up{
                        font-size: 0.875rem;
                    }
                }
                .chg{
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 0.875rem;
                    color: $grey-med;
                    letter-spacing: -0.38px;
                    display: block;
                }
               
            }
            
            .category{
                .badge{
                    font-size: 0.625rem;
                    line-height: 12px;
                    padding: 0.25rem;
                    border-radius: 2px;
                    text-transform: uppercase;
                    color: $base-text;
                    font-family: $font-base-med;
                    font-weight: normal;
                    &.bookProfit{
                        background: rgba($highlighted, 0.12);
                    }
                    &.open{
                        background: rgba(30, 199, 182, 0.16);
                    }
                    &.stopLoss{
                        background: rgba($orange, 0.12); 
                    }
                    &.close{
                        background: rgba(239, 88, 84, 0.16);
                        opacity: 1;
                    }
                }
            }
            .quantityInput{
                width: 7.688rem;
                padding: 0 0.75rem;
                font-size: 1rem;
                color: $base-text;
                letter-spacing: -0.5px;
                border-radius: 3px;
                border: solid 1px $border-type5;
                background-color: $bg;
                height: 2.250rem;
                max-width: 100%;
                @include minidesktop{
                    padding: 0 0.5rem;
                }
                @include ipad-up{
                    font-size: 0.875rem;
                    width: 6rem;
                    padding: 0 0.5rem;
                }
            }
            .btnBuy, .btnSell{
                width: 5.438rem !important;
                font-size: 1rem;
                letter-spacing: -0.5px;
                font-family: $font-base-med;
                padding: 0px;
                height: 2.25rem;
                margin-right: 0.75rem;
                @include midDesktop{
                    width: 4.25rem !important;
                }
                @include ipad-up{
                    width: 3.25rem !important;
                    min-width: 3.25rem !important;
                    margin-right: 0.25rem;
                    font-size: 0.875rem;
                }
            }
            .btn-wrap{
                @include flex(flex-end, center);
            }
            .detailSec{
                background: $bg;
                @include flex(flex-start, center);
                padding: 1rem  0;
                border-radius: 0.25rem;
                margin: 0 0 1.5rem;
                @include ipad-up{
                    padding-left: 0;
                    padding-right: 0;
                }
                .value-cont{
                    list-style: none;
                    margin: 0px 0 1.5rem;
                    padding: 0px;
                    @include flex(space-between, center);
                    &:last-child{
                        margin: 0px;
                    }
                    li{
                        padding: 0 0.5rem;
                        label{
                            display: block;
                            font-size: 0.688rem;
                            line-height: 0.813rem ;
                            margin: 0 0 0.5rem;
                            text-transform: uppercase;
                            color: $grey-med;
                            letter-spacing: 0.2px
                        }
                        .price{
                            @include flex(flex-start, center);
                            color: $base-text;
                            em{
                                font-style: normal;
                                font-size: 0.875rem;
                                line-height: 1.063rem;
                                font-family: $font-pingFangSC-medium;
                                margin-right: 2px;
                                margin-top: 2px;
                            }
                            .amt{
                                font-size: 1rem;
                                line-height: 1.188rem;
                                font-family: $font-base-med;
                                @include minidesktop{
                                    font-size: 0.875rem;
                                }
                            }
                        }
                        &:first-child{
                            padding-left:0px;
                            text-align: left;
                            .price{
                                @include flex(flex-start, center);
                            }
                        }
                        &:last-child{
                            padding-right:0px;
                        }
                    }
                }
                .detail-bar{
                    height: 0.5rem;
                    width: 100%;
                    border-radius: 2px;
                    background-image: linear-gradient(to left, #21b7a8 0%, #ffb35b 50%, #ef5854 100%);
                }
                .detail-left-sec{
                    width: 50%;
                    padding-right: 4.188rem;
                    padding-left: 2rem;
                    position: relative;
                    
                    @include minidesktop{
                        padding-left: 1.25rem;
                        padding-right: 1.25rem;
                    }
                }
                .detail-right-sec{
                    width: 50%;
                    padding-left: 3.563rem;
                    height: 128px;
                    position: relative;
                    @include flex(flex-start, center);
                    @include minidesktop{
                        padding-left: 1rem;
                       
                    }
                    &:after{
                        content: "";
                        width: 1px;
                        background: $border-type5;
                        position: absolute;
                        top: 1rem;
                        left: 0px;
                        bottom: 1rem;
                        display: block;
                    }
                    .cont{
                        padding-right: 1.875rem;
                        @include minidesktop{
                            padding-right: 1.25rem;
                        }
                    }
                }

                &.withoutInfo{
                    padding: 1.5rem 1.250rem;
                    height: auto;
                    background: $grey-bg;
                    .value-cont{
                        width: 100%;
                        margin: 0px;
                        li{
                            padding: 0 1.188rem;
                            width: 33.333%;
                           
                            @include minidesktop{
                                padding: 0 0.75rem ;
                            }
                            &:first-child{
                                padding-left: 0px !important;
                               
                            }
                            &:last-child{
                                padding-right: 0px !important;
                               
                            }
                            >div{
                                padding: 0.75rem 1.250rem;
                                border-radius: 0.25rem;
                                position: relative;
                                overflow: hidden;
                                @include minidesktop{
                                    padding: 0.75rem ;
                                }
                                &:before{
                                    content: "";
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    width: 3px;
                                    height: 100%;
                                    display: block;
                                }
                                &.stop-loss{
                                    background: rgba($red, 0.12);
                                    &:before{
                                        background: $red;
                                    }
                                }
                                &.entry-price{
                                    background: rgba($orange, 0.12);
                                    &:before{
                                        background: $orange;
                                    }
                                }
                                &.target-price{
                                    background: rgba($positive, 0.12);
                                    &:before{
                                        background: $positive;
                                    }
                                }
                                
                            }
                            label{
                                margin: 0 0 0.25rem 0;
                                font-size: 0.75rem;
                                line-height: 0.875rem;
                                font-family: $font-base-med;
                                letter-spacing: 0.22px;
                                
                                @include ipad-up{
                                    width: 100%;
                                    margin: 0 0 0.25rem;
                                }
                            }
                            .price{
                                @include ipad-up{
                                    width: 100%;
                                   
                                }
                                .amt{
                                    font-size: 1rem;
                                    line-height: 1.188rem;
                                    @include minidesktop{
                                        font-size: 0.875rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .detail-btm-sec{
                    width: 100%;
                    padding:1.5rem 1.250rem 0.5rem;
                    margin-top: 10px;
                    position: relative;
                    &:before{
                        content: "";
                        display: block;
                        background:$border-type5;
                        position: absolute;
                        left: 1.250rem;
                        right: 1.250rem;
                        height: 1px;
                        top: 0px;
                       
                    }
                    ul{
                        @include flex(flex-start, center);
                        width: calc(100% + 3.375rem);
                        margin: 0 -1.688rem ;
                        padding: 0px;
                        list-style: none;
                        @include minidesktop{
                            width: calc(100% + 2rem);
                            margin: 0 -1rem ;
                        }
                        li{
                            width: 33.333%;
                            padding: 0 1.688rem;
                            @include minidesktop{
                                padding: 0 1rem;
                            }
                            .icon-info-wrap{
                                @include flex(flex-start, center);
                                .icon-wrap{
                                    width: 2.5rem;
                                    height: 2.5rem;
                                    border-radius: 0.25rem;
                                    @include inlineFlex(center, center);
                                    &.success{
                                        background: rgba($green, 0.12);
                                        .custom-quality-icn{
                                            background-image: url(../../assets/images/quality-icon-success.svg);
                                        }
                                        .custom-valuation-icn{
                                            background-image: url(../../assets/images/valuation-icon-success.svg);
                                        }
                                        .custom-financial-icn{
                                            background-image: url(../../assets/images/rupees-icon-success.svg);
                                        }
                                    }
                                    &.warning{
                                        background: rgba($orange, 0.12);
                                        .custom-quality-icn{
                                            background-image: url(../../assets/images/quality-icon-warning.svg);
                                        }
                                        .custom-valuation-icn{
                                            background-image: url(../../assets/images/valuation-icon-warning.svg);
                                        }
                                        .custom-financial-icn{
                                            background-image: url(../../assets/images/rupees-icon-warning.svg);
                                        }
                                    }
                                    &.error{
                                        background: rgba($red, 0.12);
                                        .custom-quality-icn{
                                            background-image: url(../../assets/images/quality-icon-error.svg);
                                        }
                                        .custom-valuation-icn{
                                            background-image: url(../../assets/images/valuation-icon-error.svg);
                                        }
                                        .custom-financial-icn{
                                            background-image: url(../../assets/images/rupees-icon-error.svg);
                                        }
                                    }
                                    em{
                                        display: block;
                                    }
                                }
                                .info-wrap{
                                    width: calc(100% - 2.5rem);
                                    padding-left: 0.5rem;
                                    h4{
                                        line-height: 1rem;
                                        strong{
                                            font-weight: normal;
                                            letter-spacing: -0.18px;
                                            font-family: $font-base-med;
                                            padding-right: 0.75rem;
                                            position: relative;
                                            &:after{
                                                content: "";
                                                position: absolute;
                                                right: 4px;
                                                top: 50%;
                                                width: 4px;
                                                height: 4px;
                                                border-radius: 50%;
                                                display: block;
                                                background:#919294 ;
                                            }
                                        }
                                        small{
                                            font-size: 0.75rem;
                                            font-family: $font-base-reg;
                                            color: $grey-med;
                                        }

                                       
                                        
                                    }
                                    .progress-info-wrap{
                                        @include flex(flex-start, center);
                                        @include wrap(nowrap);
                                        .progress-info{
                                           padding-left: 0.75rem;
                                           font-size: 1.250rem;
                                           line-height: 1rem;
                                           color: $grey-med;
                                           font-family: $font-base-reg;
                                           span{
                                               letter-spacing: 1px;
                                           }
                                           strong{
                                               font-weight: normal;
                                               font-family: $font-base-med;
                                               &.success{
                                                color: $green;
                                               }
                                               &.warning{
                                                color: $orange;
                                               }
                                               &.error{
                                                color: $red;
                                               }
                                           }
                                        }
                                        .progress-bar-wrap{
                                            width: 100%;
                                            margin: 3px 0 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.colName{
                position: relative;
                .category{
                    position: absolute;
                    left: 2.25rem;
                    top: 1.5rem;
                    @include ipad-up{
                        left: 1.75rem;
                    }
                }
                
            }
            &.colMaxLoss , &.colMaxProfit {
                .price{
                    color: $base-text;
                    letter-spacing: -0.5px;
                }
            }
        }  
        
        &.flexTable {
            thead {
                tr{
                    border-top: none;
                    th{
                        @include minidesktop{
                            font-size: 12.5px;
                        }
                        &:first-child{
                            padding-left: 2.25rem;
                        }
                        &.sort_enable{
                            pointer-events: all;
                            cursor: pointer;
                            .up-down-arrow{
                                margin-left: 9px;
                                position: relative;
                                height: 10px;
                                width: 6px;
                                @include inlineFlex(flex-start, center);
                                &:before{
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 0 3px 4px 3px;
                                    border-color: transparent transparent $placeholder transparent;
                                    display: block;
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                }
                                &:after{
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 0 3px 4px 3px;
                                    border-color: transparent transparent $placeholder transparent;
                                    display: block;
                                    position: absolute;
                                    left: 0px;
                                    bottom: 0px;
                                    transform: rotate(180deg);
                                
                                }
                            }
                            &:after{
                            }
                            &.asc{
                                .up-down-arrow {
                                    &:before {
                                        border-color: transparent transparent $highlighted transparent;
                                    }
                               }
                            }
                            &.desc{
                                .up-down-arrow {
                                    &:after {
                                        border-color: transparent transparent $highlighted transparent;
                                    }
                               }
                            }
                        }
                        @include ipad-up{
                            font-size: 0.813rem;
                            letter-spacing: -0.6px;
                            
                        }
                    }
                }
            }
        }
}

.noHistoryWrap{
    
    .noHistory{
        text-align: center;
        padding: 7.313rem 1.25rem;
    
        @include small{
            padding: 1.5rem 1.25rem;
            height: calc(100vh - 200px);
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            justify-content: center;
        }
        img{
            display:block;
            margin:0 auto 0.75rem;
        }
        p{
            font-size: 1.125rem;
            line-height: 1.750rem;
            color: $grey-med;
            margin: 0 auto;
            width:20rem;
            max-width: 100%;
        }
        
    }
}

.noHistoryWrapper{
    background: $white;
     padding: 0 1.25rem 1.5rem;
     height: calc(100vh - 136px);
     @include ipad-up{
         height: calc(100vh - 136px - 67px);
     }
     .noHistoryWrap{
         background: $bg;
         border:1px solid $border-type3;
         border-radius: 0.688rem;
         overflow: hidden;
         
     }
 }
.add-remove-watchlist{
    width: 17.5rem;
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    padding: 1.250rem 1.438rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 8px 12px 0 rgba(231, 233, 243, 0.58);
    border: solid 1px $border-type3;
    background-color: $white;
    z-index: 9;

    .ttl-wrap {
        h6{
            font-size: 0.875rem;
            margin:0 0 0.5rem;
        }
    }
    .check-list {
        list-style: none;
        margin: 0px;
        padding: 0px;
        li{
            padding: 1rem 0;
            .checkbox_option{
                padding: 0px;
                label{
                padding-left: 0;
                padding-right: 2.25rem;
                display: block;
                &:before{
                    right: 0px;
                    left: auto;
                    background-image: url(../../assets/images/unchecked1.svg);
                    border: none;
                    box-shadow: none;
                    width: 1.5rem;
                    height: 1.5rem;
                }
                .scrip_name{
                    font-size: 0.875rem;
                    line-height: 1.063rem;
                    text-transform: capitalize;
                    margin: 0 0 0.5rem;
                }
                }
                input:checked + label{
                    &:before{
                        background-image: url(../../assets/images/checked1.svg);
                        background-color: transparent;
                        content: "";
                    }
                }
            }
        }
    }
    .seach-watchist-confirm{
        .btn{
            background: transparent;
            color: $highlighted;
            font-family: $font-base-semibold;
            padding-top: 0.75rem;
            padding-bottom: 0.688rem;
            &.disabled{
                background: transparent;
                opacity: 1;
                color: $disabled;
            }
            &.removeDoneBtn{
                display: none;
            }
        }
    }
}

.outer-tr.active{
    background:$border-type3 ;
    &:hover{
        background:$border-type3  !important;
    }
    .custom-addtowl{
        background-image: url(../../assets/images/wishlist-icon3.svg) !important;
    }
}

.no-other-calls{
    min-height: calc(100vh - 15.063rem - 69px );
    @include ipad-up{
        min-height: calc(100vh - 15.063rem - 4.188rem - 69px);
    }
    .outer-tr{
        &:last-child{
            .add-remove-watchlist{
                top: auto;
                bottom: 100%;
            }
            &:nth-child(2){
                .add-remove-watchlist{
                    top: 0;
                    bottom: auto;
                }
            }
        }
        &:first-child{
            .add-remove-watchlist{
                bottom: auto;
                top: calc(100% + 1px);
            }
            &:nth-last-child(2){
                .add-remove-watchlist{
                    bottom: auto;
                    top: calc(100% + 1px);
                } 
            }
        }
        &:nth-last-child(2){
            .add-remove-watchlist{
                top: 0;
                bottom: auto;
            }
           
        }
    }
}
.long-term-cont{
    .no-other-calls{
        min-height: calc(100vh - 11.438rem - 69px );
        @include ipad-up{
            min-height: calc(100vh - 11.438rem - 4.188rem - 69px);
        }
    }
   
}

.other-calls{
    .outer-tr{
        &:last-child{
           
            .add-remove-watchlist{
                top: auto;
                bottom: 100%;
            }
        }
        &:nth-last-child(2){
            .add-remove-watchlist{
                top: -30px;
                bottom: auto;
            }
           
        }
    }
}
