<section class="main-content section main_section">
    <div class="sec_title_wrap">
      <router-link to="/products" class="btn btn-back"><em class="icon-dropdown-arrow"></em><span>IPO Orders</span>
      </router-link>
    </div>
    <div class="main-content-wrapper">
      <article class="article">
        <!-- <article class="article article_wrapper todays_order-article mb-0"> -->
  
        <div class="white-bg">
            <div class="head_cnt">
                <div class="head-block">
                    <h2>Barbeque Nation</h2>
                    <span>Listing on <strong>29 Mar 2021</strong></span>
                </div>
                <div class="btn-hold">
                    <a href="#" class="btn btn-outline-secondary btn-xl" data-toggle="modal"
                    data-target="#cancel">Cancel Order</a>
                    <a href="#" class="btn btn-primary btn-xl">Modify</a>
                    <a href="#" class="btn btn-primary btn-xl">Reorder</a>
                </div>
                
            </div>
            <div class="order-board">
                <div class="order-cnt">
                    <span>Investment Amount</span>
                    <h3><em>₹</em>42,000</h3>
                </div>
                <div class="order-cnt">
                    <span>Lots  Ordered</span>
                    <h3>3</h3>
                </div>
                <div class="order-cnt">
                    <span>Bid Price</span>
                    <h3><em>₹</em>1890.04</h3>
                </div>
            </div>


            <div class="order-status">
                <div class="track-hold">
                    <h4>Track IPO Status</h4>
                    <div class="track-cnt" >
                        <div class="status-stripe ipo-failed">Payment mandate was <strong>unsuccessful</strong></div>
                        <div class="wizard-cnt" >
                            <ul class="wizard threestep" >
                                <li ui-sref="firstStep" class="completed" >
                                    <div class="hold" ><div class="check" ></div></div><div class="steptxt" ><h5 >IPO Applied</h5><div ><strong>26 Mar 2021</strong></div></div>
                                </li>
                                <li ui-sref="secondStep" class="failed active" >
                                    <div class="hold" ></div><div class="steptxt" ><h5 >Approve Payment</h5><div ><strong>29 Mar 2021</strong></div></div>
                                </li>
                                <li ui-sref="thirdStep" class="last" >
                                    <div class="hold" ></div>
                                    <div class="steptxt" ><h5 >Allotment Date</h5><div ><strong>04 Apr 2021</strong></div></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="track-cnt" >
                        <div class="status-stripe ipo-failed">Payment mandate was  <strong>expired</strong></div>
                        <div class="wizard-cnt" >
                            <ul class="wizard threestep" >
                                <li ui-sref="firstStep" class="completed" >
                                    <div class="hold" ><div class="check" ></div></div><div class="steptxt" ><h5 >IPO Applied</h5><div ><strong>26 Mar 2021</strong></div></div>
                                </li>
                                <li ui-sref="secondStep" class="failed active" >
                                    <div class="hold" ></div><div class="steptxt" ><h5 >Approve Payment</h5><div ><strong>29 Mar 2021</strong></div></div>
                                </li>
                                <li ui-sref="thirdStep" class="last" >
                                    <div class="hold" ></div>
                                    <div class="steptxt" ><h5 >Allotment Date</h5><div ><strong>04 Apr 2021</strong></div></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="track-cnt" >
                        <div class="status-stripe ipo-failed">IPO Order execution <strong>failed</strong></div>
                    </div>
                    <div class="track-cnt" >
                        <div class="status-stripe ipo-failed">IPO Order was <strong>cancelled</strong></div>
                    </div>
                </div>
            </div>
            <div class="arq-track-hold">

                <div class="arq-hold">
                    <h4>ARQ IPO Prediction</h4>
                    <p>Listing gain & Over subscription prediction</p>
                    <div class="arq-cnt">
                        <img src="../../assets/images/arq-sucess.svg" alt="img" />
                        <h3>
                            ARQ  Predicted Successfully
                            <span><strong>HIGH</strong> chances of listing gains</span>
                        </h3>
                        <div class="arq-board-cnt">
                            <div class="">
                                Issue Price
                                <span class="amt">₹560</span>
                            </div>
                            <div class="">
                                Listing Price
                                <span class="amt">₹4,560</span>
                            </div>
                            <div class="">
                                Listing Gain
                                <span class="amt share-value txt-positive">+12.9%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="track-hold">
                    <h4>IPO Dates</h4>
                    <p>Important dates with respect to IPO bidding</p>

                <div class="track-cnt">
                    
                    <div class="wizard-cnt">
                        <ul class="wizard">
                            <li ui-sref="firstStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                  <h5>IPO Applied</h5>
                                  <div><strong>26 Mar 2021</strong></div>
                              </div>
                            </li>
                            <li ui-sref="secondStep" class="completed">
                                <div class="hold">
                                    <div class="check"></div>
                                  </div>
                                  <div class="steptxt">
                                    <h5>Approve Payment</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="thirdStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                <h5>Allotment Date</h5>
                                <div><strong>04 Apr 2021</strong></div>
                            </div>
                            </li>
                            <li ui-sref="fourthStep" class="active">
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>Credit Demat A/C</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="fifthStep" >
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>IPO Listing</h5>
                                    <div><strong>8 Apr 2021</strong></div>
                                </div>
                            </li>
                          </ul>
                    </div>
                </div>
                </div>
            </div>

            <div class="track-hold">
                
 

                <div class="track-cnt">
                    <div class="status-stripe ipo-aprrove">
                        Payment mandate is successful. Amount has been reserved. <strong>Please wait till allotment.</strong>
                    </div>
                    <div class="wizard-cnt">
                        <ul class="wizard threestep">
                            <li ui-sref="firstStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                  <h5>IPO Applied</h5>
                                  <div><strong>26 Mar 2021</strong></div>
                              </div>
                            </li>
                            <li ui-sref="secondStep" class="">
                                <div class="hold">
                                    <div class="check"></div>
                                  </div>
                                  <div class="steptxt">
                                    <h5>Approve Payment</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="thirdStep" class="">
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                              <div class="steptxt">
                                <h5>Allotment Date</h5>
                                <div><strong>04 Apr 2021</strong></div>
                            </div>
                            </li>
                            
                          </ul>
                    </div>
                </div>
                <div class="track-cnt">
                    <div class="status-stripe ipo-aprrove">
                        Approve payment mandate within <strong>12 Mar 2021</strong> sent to your UPI ID
                    </div>
                    <div class="wizard-cnt">
                        <ul class="wizard">
                            <li ui-sref="firstStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                  <h5>IPO Applied</h5>
                                  <div><strong>26 Mar 2021</strong></div>
                              </div>
                            </li>
                            <li ui-sref="secondStep" class="active">
                                <div class="hold">
                                    <div class="cir"></div>
                                  </div>
                                  <div class="steptxt">
                                    <h5>Approve Payment</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="thirdStep" class="">
                                <div class="hold">
                                    
                                </div>
                              <div class="steptxt">
                                <h5>Allotment Date</h5>
                                <div><strong>04 Apr 2021</strong></div>
                            </div>
                            </li>
                            
                          </ul>
                    </div>
                </div>
                <div class="track-cnt">
                    <div class="status-stripe ipo-cancel">
                        IPO order was cancelled
                    </div>
                    
                </div>
                <div class="track-cnt">
                    <div class="status-stripe ipo-failed">
                        IPO order was cancelled
                    </div>
                    
                </div>
                <div class="track-cnt">
                    <div class="status-stripe ipo-alot">
                        3/3 - IPO alloted, demat account will be credited with shares by <strong>12 Mar 2021</strong>
                    </div>
                    <div class="wizard-cnt">
                        <ul class="wizard">
                            <li ui-sref="firstStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                  <h5>IPO Applied</h5>
                                  <div><strong>26 Mar 2021</strong></div>
                              </div>
                            </li>
                            <li ui-sref="secondStep" class="completed">
                                <div class="hold">
                                    <div class="check"></div>
                                  </div>
                                  <div class="steptxt">
                                    <h5>Approve Payment</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="thirdStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                <h5>Allotment Date</h5>
                                <div><strong>04 Apr 2021</strong></div>
                            </div>
                            </li>
                            <li ui-sref="fourthStep" class="active">
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>Credit Demat A/C</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="fifthStep" >
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>IPO Listing</h5>
                                    <div><strong>8 Apr 2021</strong></div>
                                </div>
                            </li>
                          </ul>
                    </div>
                </div>
                <div class="track-cnt">
                    <div class="status-stripe ipo-listing">
                        IPO Listing on <strong>08 April</strong>
                    </div>
                    <div class="wizard-cnt">
                        <ul class="wizard fivestep">
                            <li ui-sref="firstStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                  <h5>IPO Applied</h5>
                                  <div><strong>26 Mar 2021</strong></div>
                              </div>
                            </li>
                            <li ui-sref="secondStep" class="completed">
                                <div class="hold">
                                    <div class="check"></div>
                                  </div>
                                  <div class="steptxt">
                                    <h5>Approve Payment</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="thirdStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                <h5>Allotment Date</h5>
                                <div><strong>04 Apr 2021</strong></div>
                            </div>
                            </li>
                            <li ui-sref="fourthStep" class="completed">
                                <div class="hold">
                                    <div class="check"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>Credit Demat A/C</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="fifthStep" class="active">
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>IPO Listing</h5>
                                    <div><strong>8 Apr 2021</strong></div>
                                </div>
                            </li>
                          </ul>
                    </div>
                </div>
                <div class="track-cnt">
                    <div class="status-stripe alot">
                        2/3 - Partially alloted, refund amount ₹42,560.00 will be credited by 5 Apr 2021
                    </div>
                    <div class="wizard-cnt">
                        <ul class="wizard sixstep">
                            <li ui-sref="firstStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                  <h5>IPO Applied</h5>
                                  <div><strong>26 Mar 2021</strong></div>
                              </div>
                            </li>
                            <li ui-sref="secondStep" class="completed">
                                <div class="hold">
                                    <div class="check"></div>
                                  </div>
                                  <div class="steptxt">
                                    <h5>Approve Payment</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="thirdStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                <h5>Allotment Date</h5>
                                <div><strong>04 Apr 2021</strong></div>
                            </div>
                            </li>
                            <li ui-sref="fourthStep" class="active">
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>Initiation of Refund</h5>
                                    <div><strong>5 Apr 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="fifthStep" >
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>Credit Demat A/C</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="sixthStep" >
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>IPO Listing</h5>
                                    <div><strong>8 Apr 2021</strong></div>
                                </div>
                            </li>
                          </ul>
                    </div>
                </div>
                <div class="track-cnt">
                    <div class="status-stripe ipo-failed">
                        IPO order was cancelled
                    </div>
                    
                </div>
                <div class="track-cnt">
                    <div class="status-stripe ipo-failed">
                        Payment mandate was <strong>expired</strong>
                    </div>
                    <div class="wizard-cnt">
                        <ul class="wizard threestep">
                            <li ui-sref="firstStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                  <h5>IPO Applied</h5>
                                  <div><strong>26 Mar 2021</strong></div>
                              </div>
                            </li>
                            <li ui-sref="secondStep" class="active failed">
                                <div class="hold">
                                    <span class="close"></span>
                                  </div>
                                  <div class="steptxt">
                                    <h5>Approve Payment</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="thirdStep" >
                                <div class="hold">
                                    
                                </div>
                              <div class="steptxt">
                                <h5>Allotment Date</h5>
                                <div><strong>04 Apr 2021</strong></div>
                            </div>
                            </li>
                            
                          </ul>
                    </div>
                </div>
                <div class="track-cnt">
                    <div class="status-stripe alot">
                        <strong>No IPO alloted</strong>, refund amount <strong>₹42,560.00</strong> will be credited by <strong>5 Apr 2021</strong>
                    </div>
                    <div class="wizard-cnt">
                        <ul class="wizard fourstep">
                            <li ui-sref="firstStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                  <h5>IPO Applied</h5>
                                  <div><strong>26 Mar 2021</strong></div>
                              </div>
                            </li>
                            <li ui-sref="secondStep" class="completed">
                                <div class="hold">
                                    <div class="check"></div>
                                  </div>
                                  <div class="steptxt">
                                    <h5>Approve Payment</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="thirdStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                <h5>Allotment Date</h5>
                                <div><strong>04 Apr 2021</strong></div>
                            </div>
                            </li>
                            <li ui-sref="fourthStep" class="active">
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>Initiation of Refund</h5>
                                    <div><strong>5 Apr 2021</strong></div>
                                </div>
                            </li>
                            
                          </ul>
                    </div>
                </div>

                <div class="track-cnt">
                    <div class="status-stripe alot">
                        <strong>No IPO alloted</strong>, refund amount <strong>₹42,560.00</strong> will be credited by <strong>5 Apr 2021</strong>
                    </div>
                    <div class="wizard-cnt">
                        <ul class="wizard">
                            <li ui-sref="firstStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                  <h5>IPO Applied</h5>
                                  <div><strong>26 Mar 2021</strong></div>
                              </div>
                            </li>
                            <li ui-sref="secondStep" class="completed">
                                <div class="hold">
                                    <div class="check"></div>
                                  </div>
                                  <div class="steptxt">
                                    <h5>Approve Payment</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="thirdStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                <h5>Allotment Date</h5>
                                <div><strong>04 Apr 2021</strong></div>
                            </div>
                            </li>
                            <li ui-sref="fourthStep" class="completed">
                                <div class="hold">
                                    <div class="check"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>Initiation of Refund</h5>
                                    <div><strong>5 Apr 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="fifthStep" class="active">
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>Credit Demat A/C</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="sixthStep" >
                                <div class="hold">
                                    
                                </div>
                                <div class="steptxt">
                                    <h5>IPO Listing</h5>
                                    <div><strong>8 Apr 2021</strong></div>
                                </div>
                            </li>
                          </ul>
                    </div>
                </div>

            

                <div class="track-cnt">
                    
                    <div class="wizard-cnt vertical">
                        <ul class="wizard">
                            <li ui-sref="firstStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                  <h5>IPO Applied</h5>
                                  <div><strong>26 Mar 2021</strong></div>
                              </div>
                            </li>
                            <li ui-sref="secondStep" class="completed">
                                <div class="hold">
                                    <div class="check"></div>
                                  </div>
                                  <div class="steptxt">
                                    <h5>Approve Payment</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="thirdStep" class="completed">
                              <div class="hold">
                                <div class="check"></div>
                              </div>
                              <div class="steptxt">
                                <h5>Allotment Date</h5>
                                <div><strong>04 Apr 2021</strong></div>
                            </div>
                            </li>
                            <li ui-sref="fourthStep" class="active">
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>Credit Demat A/C</h5>
                                    <div><strong>29 Mar 2021</strong></div>
                                </div>
                            </li>
                            <li ui-sref="fifthStep" >
                                <div class="hold">
                                    <div class="cir"></div>
                                </div>
                                <div class="steptxt">
                                    <h5>IPO Listing</h5>
                                    <div><strong>8 Apr 2021</strong></div>
                                </div>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="details-hold">
                <h4>Order Details</h4>
                <div class="details-cnt">
                    <div class="cnt">
                        <span>Application ID</span>
                        <div class="details-txt">12345678</div>
                    </div>
                    <div class="cnt">
                        <span>Beneficiary ID</span>
                        <div class="details-txt">45312345678</div>
                    </div>
                    <div class="cnt">
                        <span>Exchange Order No.</span>
                        <div class="details-txt">78806890</div>
                    </div>
                    <div class="cnt">
                        <span>Cut Off</span>
                        <div class="details-txt">Yes</div>
                    </div>
                    <div class="cnt">
                        <span>VPA</span>
                        <div class="details-txt">abcdef@upi</div>
                    </div>
                    <div class="cnt">
                        <span>Trasaction Status</span>
                        <div class="details-txt">Success</div>
                    </div>
                </div>
            </div>
        </div>
  
      </article>
    </div>
  </section>


<!--Cancel Ipo Order Modal  Popup Start-->
<div class="modal cancel" ref="modal" id="cancel" tabindex="-1" role="dialog">
<div class="modal-overlay" ></div>
<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
  <div class="modal-content d-block text-center p-0">
    <div class="modal-header">
      <h5 class="modal-title">Cancel Order</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <em class="custom-times-circle-solid"></em>
      </button>
    </div>
    <div class="modal-body text-left">
      <p class="semiboldtxt">Do you want to cancel the IPO request order?</p>
      
    </div>
    <div class="modal-footer">
      <div class="btn-wrap d-flex justify-content-between">
        <button type="button" class="btn btn-outline-secondary no-btn" data-dismiss="modal">No</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-lg" data-toggle="modal"
        data-target="#cancelconfirm" >Yes</button>
      </div>
    </div>
  </div>
</div>
</div>
<!--Cancel Ipo Order Modal Popup End-->

<!-- Cancel Ipo Order Confirmation Popup Start -->
<div class="modal cancelconfirm" ref="modal" id="cancelconfirm" tabindex="-1" role="dialog">
  <div class="modal-overlay" ></div>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
        <div class="modal-header border-0">
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <em class="custom-times-circle-solid"></em>
            </button>
          </div>
      <div class="modal-wrapper">
        <img class="title_icon" src="../../assets/images/icon-successful.svg" alt="">
        <h2>Request Cancelled</h2>
        <p class="">Your IPO request is cancelled successfully</p>
        <button type="button" class="modalbtn-outline-secondary" data-dismiss="modal">VIEW ORDER STATUS</button>
      </div>
    </div>
  </div>
</div>
<!-- Cancel Ipo Order Confirmation Popup End -->