<section class="main-content section main_section min_full_height d-lg-none d-md-block d-sm-block">
    <div class="sec_title_wrap">
        <router-link to="/funds" class="btn btn-back"><em class="icon-dropdown-arrow"></em><span>Unpledge Transaction
                Details </span>
        </router-link>
    </div>

    <div class="main-content-wrapper">
        <div class="unpledge-table-mob">
            <table class="table">
                <thead>
                    <tr>
                        <th class="refCol">
                            <label>
                                Reference No
                            </label>
                            <p>
                                7528372917382913
                            </p>
                        </th>
                        <th class="dateCol text-right">
                            <label>
                                Date
                            </label>
                            <p>
                                06 Jan ‘20 at 6:43 pm
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="cmpny">
                                SBIN
                            </div>
                            <div class="cmpny-name">
                                State Bank of India
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="amt">
                                <em class="rupee-sign">₹</em>5,000 / 10
                            </div>
                            <div class="status txtPositive">
                                <em class="success"></em> Margin Updated
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cmpny">
                                ICICIBank
                            </div>
                            <div class="cmpny-name">
                                ICICI Bank Ltd.
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="amt">
                                <em class="rupee-sign">₹</em>5,000 / 10
                            </div>
                            <div class="status txtPositive">
                                <em class="success"></em> Margin Updated
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cmpny">
                                HeroMotoco
                            </div>
                            <div class="cmpny-name">
                                ICICI Bank Ltd.
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="amt">
                                <em class="rupee-sign">₹</em>5,000 / 10
                            </div>
                            <div class="status txtPositive">
                                <em class="success"></em> Margin Updated
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>