
<div class="main-content advisory-investofolio-page">
  <div class="main-content-in">
    <article class="field_bg full-height p-0">
      <div class="stickyTabWrap advisoryInvestofolioTabWrap">
        <div class="tab-wrap greyBg ">
          <ul class="nav nav-tabs tab-links-wrap" id="tab-links">
            <li class="nav-item"><a href="" data-target="#advisory" data-toggle="tab"
                class="nav-link small active">Advisory</a></li>
            <li class="nav-item"><a href="" data-target="#investofolio" data-toggle="tab" class="nav-link small">Investofolio</a></li>
          </ul>
          <div id="tabsContent" class="tab-content">
            <div id="advisory" class="tab-pane active">
              <div class="advisory-tab tabContentWrap ">
                <Advisorytabcontent></Advisorytabcontent>
              </div>
            </div>
            <div id="investofolio" class="tab-pane">
              <div class="investofolio-tab tabContentWrap">
                <Investofoliotabcontent></Investofoliotabcontent>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

