<div class="main-content leftPosition reports-section">
  <div class="main-content-in">
    <article class="field_bg full-height p-0">
      <div class="stickyTabWrap reportsTabWrap">
        <div class="tab-wrap greyBg ">
          <ul class="nav nav-tabs tab-links-wrap" id="tab-links">
            <li class="nav-item"><a href="" data-target="#transaction" data-toggle="tab"
                class="nav-link small active">Transactional Reports</a></li>
            <!-- <li class="nav-item"><a href="" data-target="#security" data-toggle="tab" class="nav-link small">Security
                Holding</a></li> -->
          </ul>
          <div id="tabsContent" class="tab-content">
            <div id="transaction" class="tab-pane active">
              <div class="transaction-tab tabContentWrap ">
                <TransactionReport></TransactionReport>
              </div>
            </div>
            <div id="security" class="tab-pane">
              <div class="security-holding-tab tabContentWrap ">
                Security Holding
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>