@import '../../assets/scss/styles';


.like-dislike{
    margin-left: -2px; margin-right: -2px;
    >div{
        padding: 0 2px;
    }
    .panel{
        border-radius: 4px;
        height: 100%;
        &.working_well-panel{
            .panel-header{
                background-color: rgba($positive,0.12);
                .factor_count{
                    color: $positive;
                }
            }
            .panel-body{
                ul{
                    li{
                        &::before{
                            content: ""; display: inline-block;
                            width: 32px; height: 32px;
                            background: url(~@/assets/images/icon-like.svg) no-repeat;
                            background-size: 100% 100%;
                            position: absolute; top: 0; left: 0;
                        }
                    }
                }
            }
        }
        &.not_working-panel{
            .panel-header{
                background-color: rgba($negative,0.12);
                .factor_count{
                    color: $negative;
                }
            }
            .panel-body{
                ul{
                    li{
                        &::before{
                            content: ""; display: inline-block;
                            width: 32px; height: 32px;
                            background: url(~@/assets/images/icon-dislike.svg) no-repeat;
                            background-size: 100% 100%;
                            position: absolute; top: 0; left: 0;
                        }
                    }
                }
            }
        }
        .panel-header{
            padding: 12px 20px;
            display: flex;
            border-radius: 4px 4px 0 0;
            h5{
                font-size: 0.875rem; font-family: $font-base-med;
                margin: 0;
            }
            .factor_count{
                margin-left: auto;
            }
        }
        .panel-body{
            height: calc(100% - 40px);
            padding: 20px 16px;
            border-radius: 0 0 4px 4px;
            background-color: $bg;
            h5{
                font-size: 0.875rem; font-family: $font-base-med;
            }
            p{
                font-size: 14px; line-height: 18px;
                color: $grey-med;
                margin: 0;
            }
            ul{
                list-style-type: none;
                padding: 0 20px 0 0; margin: 0;
                li{
                    padding-left: 48px;
                    position: relative;
                    margin-bottom: 20px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .no-data{
            height: 100%;
        }
    }
}

.view_all-cta{
    padding-top: 24px;
    a{
        font-size: 14px; font-family: $font-base-semibold;
        color: $highlighted; text-transform: uppercase;
    }
}