<section class="main-content section main_section  min_full_height">
  <div class="sec_title_wrap">
    <!-- <router-link to="/portfolio" class="btn btn-back"><em class="icon-dropdown-arrow"></em><span>Holding Details</span></router-link> -->
    <router-link  class="btn btn-back" to="/products"><em class="icon-dropdown-arrow"></em><span>FAQs</span></router-link>
  </div>

  <div class="main-content-wrapper">
    <div class="faq-cont-wrap">
    <div class="field_bg ">
      <div class="faq-cont">
        <div class="faq-ttl-sec text-center">
          <h3>Frequently Asked Questions</h3>
          <p>Below are most frequently asked questions on IPO.<br> 
            If you have any further queries ? <a href="https://trade.angelbroking.com/angelAssist" target="_blank">Click here</a></p>
        </div>
        <div class="faq-listing">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <h5>Why can’t I see my UPI handle listed in the dropdown in the Angel One app 
                  while applying for an IPO?</h5>
              </div>
          
              <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <h4>You can follow the below steps to create a UPI ID with the BHIM app:</h4>
                  <ul class="bullet-list">
                    <li>Download the BHIM App</li>
                    <li>Verify your mobile number</li>
                    <li>Register the passcode (it is required to open the app)</li>
                    <li>Select your bank from the options available</li>
                    <li>The app will fetch your bank details</li>
                    <li>In case you have more than one account, choose the account you want to register with BHIM</li>
                    <li>Set up a UPI PIN for security</li>
                    <li>Now you can check your UPI ID in the profile section.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" >
                  <h5>How can I create my UPI ID?</h5>
              </div>
          
              <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <h4>You can follow the below steps to create a UPI ID with the BHIM app:</h4>
                  <ul class="bullet-list">
                    <li>Download the BHIM App</li>
                    <li>Verify your mobile number</li>
                    <li>Register the passcode (it is required to open the app)</li>
                    <li>Select your bank from the options available</li>
                    <li>The app will fetch your bank details</li>
                    <li>In case you have more than one account, choose the account you want to register with BHIM</li>
                    <li>Set up a UPI PIN for security</li>
                    <li>Now you can check your UPI ID in the profile section.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" >
                  <h5>Where can I find my UPI ID?</h5>
              </div>
          
              <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  three
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" >
                  <h5>I don’t have a UPI ID. Can I apply for an IPO?</h5>
              </div>
          
              <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  four
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" >
                  <h5>Why am I unable to apply for IPOs via my UPI ID/Handle?</h5>
              </div>
          
              <div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                  five
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix" >
                  <h5>When will I receive my UPI mandate request after placing an order?</h5>
              </div>
          
              <div id="collapseSix" class="collapse " aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                  six
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" >
                  <h5>How to approve an IPO mandate request?</h5>
              </div>
          
              <div id="collapseSeven" class="collapse " aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                  seven
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

</section>