<!-- <header class="header header--ver2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto">
        <a href="#" class="logo"><img src="../../assets/images/logo.png"></a>
      </div>
    </div>
  </div>
</header> -->

<section class="main-content section main_section">
    <div class="sec_title_wrap">
      <router-link to="/products" class="btn btn-back"><em class="icon-dropdown-arrow"></em><span>Closed IPO</span>
      </router-link>
    </div>
    <div class="main-content-wrapper">
      <article class="article">
        <!-- <article class="article article_wrapper todays_order-article mb-0"> -->
  
            
            <div class="stickyTabWrap">
                <div class="closeipodiv">
                <div class="liveipo-table-wrapper table-wrapper">
                    <a href="#" class="scrollTop">
                        <em class="icon"></em><span id="hideMe">BACK TO TOP</span>
                    </a>
                    <table class="table table-hover tbl-theme flex-table stickyonScroll closeipotable">
                        <thead>
                            <tr>
                                <th class="companyname">Company Name</th>
                                <th class="issueprice">Issue Price</th>
                                <th class="pricegain">Listing Price & Gain</th>
                                <th class="predict">ARQ Prediction
                                    <em class="icon-info pointer tool-hover">
                                        <div class="tooltip">
                                            <h4>ARQ Prediction</h4>
                                            <p>Angel research team performs an in-depth analysis to predict the chances of
                                                listing gain and over subscription for an IPO</p>
                                        </div>
                                    </em>
                                </th>
                                <th class="subscription">Overall Subscription</th>
                                <th class="arrow"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Sunny Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr class="loader">
                                <td class="companyname">
                                    <div></div>
                                    <div></div>
                                </td>
                                <td class="issueprice"><div></div></td>
                                <td class="pricegain"> <div></div> </td>
                                <td class="predict">
                                    <div></div>
                                </td>
                                <td class="subscription"><div></div></td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr class="loader">
                                <td class="companyname">
                                    <div></div>
                                    <div></div>
                                </td>
                                <td class="issueprice"><div></div></td>
                                <td class="pricegain"> <div></div> </td>
                                <td class="predict">
                                    <div></div>
                                </td>
                                <td class="subscription"><div></div></td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr class="loader">
                                <td class="companyname">
                                    <div></div>
                                    <div></div>
                                </td>
                                <td class="issueprice"><div></div></td>
                                <td class="pricegain"> <div></div> </td>
                                <td class="predict">
                                    <div></div>
                                </td>
                                <td class="subscription"><div></div></td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr class="loader">
                                <td class="companyname">
                                    <div></div>
                                    <div></div>
                                </td>
                                <td class="issueprice"><div></div></td>
                                <td class="pricegain"> <div></div> </td>
                                <td class="predict">
                                    <div></div>
                                </td>
                                <td class="subscription"><div></div></td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr class="loader">
                                <td class="companyname">
                                    <div></div>
                                    <div></div>
                                </td>
                                <td class="issueprice"><div></div></td>
                                <td class="pricegain"> <div></div> </td>
                                <td class="predict">
                                    <div></div>
                                </td>
                                <td class="subscription"><div></div></td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr class="loader">
                                <td class="companyname">
                                    <div></div>
                                    <div></div>
                                </td>
                                <td class="issueprice"><div></div></td>
                                <td class="pricegain"> <div></div> </td>
                                <td class="predict">
                                    <div></div>
                                </td>
                                <td class="subscription"><div></div></td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr class="loader">
                                <td class="companyname">
                                    <div></div>
                                    <div></div>
                                </td>
                                <td class="issueprice"><div></div></td>
                                <td class="pricegain"> <div></div> </td>
                                <td class="predict">
                                    <div></div>
                                </td>
                                <td class="subscription"><div></div></td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr class="loader">
                                <td class="companyname">
                                    <div></div>
                                    <div></div>
                                </td>
                                <td class="issueprice"><div></div></td>
                                <td class="pricegain"> <div></div> </td>
                                <td class="predict">
                                    <div></div>
                                </td>
                                <td class="subscription"><div></div></td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr class="loader">
                                <td class="companyname">
                                    <div></div>
                                    <div></div>
                                </td>
                                <td class="issueprice"><div></div></td>
                                <td class="pricegain"> <div></div> </td>
                                <td class="predict">
                                    <div></div>
                                </td>
                                <td class="subscription"><div></div></td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Prakash Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-negative share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>10 Apr 2021</strong></span>
                                    <div>Omkar Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">zed IPO Listing on <strong>12 Apr 2021</strong></span>
                                    <div>Lexus Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt"> zed plus Closed on <strong>03 Apr 2021</strong></span>
                                    <div>Limcva Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>04 Apr 2021</strong></span>
                                    <div>Random Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>30 Apr 2021</strong></span>
                                    <div>Kaira Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>01 Apr 2021</strong></span>
                                    <div>Polycab Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>07 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>23 Apr 2021</strong></span>
                                    <div>Balaji Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-negative share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-negative share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-negative share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Allotment on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="highspd">
                                        High
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">IPO Listing on <strong>14 Apr 2021</strong></span>
                                    <div>Lakshi Organic</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain"> -- </td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                            <tr>
                                <td class="companyname">
                                    <span class="daytxt">Closed on <strong>14 Apr 2021</strong></span>
                                    <div>Nazara Technologies</div>
                                </td>
                                <td class="issueprice">₹1,800</td>
                                <td class="pricegain">₹1,890.00 <span class="txt-positive share-value">+12.9</span></td>
                                <td class="predict">
                                    <div class="medspd">
                                        Medium
                                    </div>
                                </td>
                                <td class="subscription">82.67x</td>
                                <td class="arrow"><a href="#" class=""><em class="icon-dropdown-arrow"></em></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
      </article>
    </div>
  </section>
  
  