<div class="derivative-tab">
  <div class="tabContentWrap">
  <div class="equity-category-wrap">
    <div class="stock-cnt">
      <div class="stockbrd trend">
        <div class="bearish-icon-wrap">
          <span class="icon"></span>
        </div>
        <h3>Derivative Trend <span class="bearishTxt">Bearish</span></h3>
        <span>Updated <strong>15 mins ago</strong></span>
      </div>
      <div class="stockbrd sensex">
        <h3>SENSEX</h3>
        <div class="sensex-hold">
          <div class="value-cnt">
            <div class="share-value txt-positive"><em>₹</em>40,651.58</div>
            <span>+01.14% (+35.70)</span>
          </div>
          <div><img src="../../assets/images/linechart-positive.svg" alt="line-chart" /></div>
        </div>
        <span class="derivativeType short-covering"><em class="custom-short-covering"></em>Short Covering</span>
        <!-- <span class="derivativeType long-build-up"><em class="custom-long-build-up"></em>Long Built-Up</span>
        <span class="derivativeType long-unwinding"><em class="custom-long-unwinding"></em>Long Unwinding</span> -->
      </div>
      <div class="stockbrd sensex">
        <h3>NIFTY</h3>
        <div class="sensex-hold">
          <div class="value-cnt">
            <div class="share-value txt-negative"><em>₹</em>40,651.58</div>
            <span>+01.14% (+35.70)</span>
          </div>
          <div><img src="../../assets/images/linechart-negative.svg" alt="line-chart" /></div>
        </div>
        <span class="derivativeType short-build-up"><em class="custom-short-build-up"></em>Short Buildups</span>
        <!-- <span class="derivativeType neutral"><em class="custom-neutral"></em>Neutral</span> -->
        
      </div>
    </div>
    <section class="sector-heatmap-section">
      <div class="sector-heatmap">
        <h3>Sector HeatMap</h3>
        <div class="d-flex">
          <div class="sector-content">
            <div class="sector green-bg">
              <h3>MEDIA</h3>
              <div class="d-flex">
                <label class="count">21000</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector green-bg">
              <h3>CONSUMER</h3>
              <div class="d-flex">
                <label class="count">1752.98</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector green-bg">
              <h3>REALTY</h3>
              <div class="d-flex">
                <label class="count">37.9</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector green-bg">
              <h3>TECH</h3>
              <div class="d-flex">
                <label class="count">8383.93</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector green-bg">
              <h3>PHARMA</h3>
              <div class="d-flex">
                <label class="count">21000</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="sector-content">
            <div class="sector green-bg">
              <h3>BANKING</h3>
              <div class="d-flex">
                <label class="count">21000</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector auto-bg">
              <h3>AUTO</h3>
              <div class="d-flex">
                <label class="count">37.9</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector cement-bg">
              <h3>CEMENT</h3>
              <div class="d-flex">
                <label class="count">8383.93</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector metal-bg">
              <h3>METAL</h3>
              <div class="d-flex">
                <label class="count">21000</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector services-bg">
              <h3>SERIVIES</h3>
              <div class="d-flex">
                <label class="count">21000</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="sector-content">
            <div class="sector energy-bg">
              <h3>ENERGY</h3>
              <div class="d-flex">
                <label class="count">1752.98</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector finance-bg">
              <h3>FINANCE</h3>
              <div class="d-flex">
                <label class="count">8383.93</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector psu-bank-bg">
              <h3>PSU BANK</h3>
              <div class="d-flex">
                <label class="count">37.9</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector pse-bg">
              <h3>PSE</h3>
              <div class="d-flex">
                <label class="count">21000</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
          <div class="sector-content">
            <div class="sector infra-bg">
              <h3>INFRA</h3>
              <div class="d-flex">
                <label class="count">1752.98</label>
                <label class="percent ml-auto">+2.45%</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="market-moves-section">
    <h3>Market Moves</h3>
    
    <div class="hold">
      <ul class="filterblock">
        <li class="active">Price Gainers</li>
        <li>Price Losers</li>
        <li>OI Gainers</li>
        <li>OI Losers</li>
      </ul>
      
    </div>

    <div class="table-hold">
      <table class="table table-hover " id="market-moves-table" >
        <thead>
          <tr>
            <th><span>Stock Name</span></th>
            <th></th>
            <th class="text-right"><span>Price</span></th>
            <th class="text-right"><span>Price Change</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="stockname">
              <h4>Pageind</h4>
              <span>Pageind Technologies</span>
            </td>
            <td class="linechart">
              <img src="../../assets/images/linechart-negative.svg" alt="line-chart" />
            </td>
            <td class="price">
              <span class="share-value txt-negative"><em>₹</em>12.9 %</span>
            </td>
            <td class="pricechange">+20.32 <span>(+1.04%)</span></td>
            <td class="fy">
              <!-- <div class="checkbox_option comp-info-sec">
                <input type="checkbox" id="fy"  value="fy" checked >
                <label for="fy"></label>
              </div> -->
              <span :class="selected.length > 0 ? 'added' : 'addtowl' "></span>
             
            </td>
          </tr>
          <tr>
            <td class="stockname">
              <h4>Bhel</h4>
              <span>Bharat heavy electrcals ltd</span>
            </td>
            <td class="linechart"><img src="../../assets/images/linechart-positive.svg" alt="line-chart" /></td>
            <td class="price">
              <span class="share-value txt-positive"><em>₹</em>12.9 %</span>
            </td>
            <td class="pricechange">+20.32 <span>(+1.04%)</span></td>
            <td class="fy">
              <span class="addtowl"></span>
            </td>
          </tr>
          <tr>
            <td class="stockname">
              <h4>Pageind</h4>
              <span>Pageind Technologies</span>
            </td>
            <td class="linechart">
              <img src="../../assets/images/linechart-negative.svg" alt="line-chart" />
            </td>
            <td class="price">
              <span class="share-value txt-negative"><em>₹</em>12.9 %</span>
            </td>
            <td class="pricechange">+20.32 <span>(+1.04%)</span></td>
            <td class="fy">
              <span class="addtowl"></span>
            </td>
          </tr>
          <tr>
            <td class="stockname">
              <h4>Bergerpaints</h4>
              <span>berger paints ltd</span>
            </td>
            <td class="linechart"><img src="../../assets/images/linechart-positive.svg" alt="line-chart" /></td>
            <td class="price">
              <span class="share-value txt-positive"><em>₹</em>12.9 %</span>
            </td>
            <td class="pricechange">+20.32 <span>(+1.04%)</span></td>
            <td class="fy">
              <span class="addtowl"></span>
            </td>
          </tr>
          <tr>
            <td class="stockname">
              <h4>ASIANPAINT</h4>
              <span>Asian paints ltd</span>
            </td>
            <td class="linechart"><img src="../../assets/images/linechart-positive.svg" alt="line-chart" /></td>
            <td class="price">
              <span class="share-value txt-positive"><em>₹</em>12.9 %</span>
            </td>
            <td class="pricechange">+20.32 <span>(+1.04%)</span></td>
            <td class="fy">
              <span class="addtowl"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <router-link to="/StockinAction" class="viewmore" tag="a" >
          View More
      </router-link>
    </div>
  </div>
  <div class="buildups-section">
    <h3>Buildups</h3>
    
    <div class="hold">
      <ul class="filterblock">
        <li class="active">Long Buildup</li>
        <li>Short Covering</li>
        <li>Short Buildup</li>
        <li>Long Unwinding</li>
      </ul>
      
    </div>

    <div class="table-hold">
      <table class="table table-hover " id="buildups-table" >
        <thead>
          <tr>
            <th><span>Stock Name</span></th>
            <th class="text-right"><span>Price</span></th>
            <th class="text-right"><span>Price Change</span></th>
            <th class="text-right"><span>Open Interest</span></th>
            <th class="text-right"><span>OI Change</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="stockname">
              <h4>Pageind</h4>
              <span>Pageind Technologies</span>
            </td>
            
            <td class="price text-right">
              <span class="share-value txt-positive"><em>₹</em>1637.06</span>
            </td>
            <td class="pricechange text-right">+20.32 <span>(+1.04%)</span></td>
            <td class="open-interest text-right">
              <span class="share-value up"><em>₹</em>1637.06</span>
            </td>
            <td class="olchange text-right">+20.32 <span>(+1.04%)</span></td>
            <td class="fy">
              <!-- <div class="checkbox_option comp-info-sec">
                <input type="checkbox" id="fy"  value="fy" checked >
                <label for="fy"></label>
              </div> -->
              <span :class="selected.length > 0 ? 'added' : 'addtowl' " @click="choosewatchlist"></span>

              <div class="choose-watchlist" v-if="selected.length > 0">
                <h4>Choose Watchlist</h4>
                <ul>
                  <li>
                    <div class="checkbox_option">
                      <input type="checkbox" id="checkbox1"  value="checkboxfy" >
                      <label for="checkbox1">
                        <h4>Watchlist 1</h4>
                        <span>20 Stock</span>
                      </label>
                    </div> 
                  </li>
                  <li>
                    <div class="checkbox_option">
                      <input type="checkbox" id="checkbox2"  value="checkboxfy" >
                      <label for="checkbox2">
                        <h4>Watchlist 2</h4>
                        <span>20 Stock</span>
                      </label>
                    </div> 
                  </li>
                </ul>
              </div>   
              
            </td>
          </tr>
          <tr>
            <td class="stockname">
              <h4>Bhel</h4>
              <span>05 Mar 2020</span>
            </td>
            
            <td class="price text-right">
              <span class="share-value txt-negative"><em>₹</em>1537.19</span>
            </td>
            <td class="pricechange text-right">+15.42 <span>(+0.07%)</span></td>
            <td class="open-interest text-right">
              <span class="share-value down"><em>₹</em>1537.19</span>
            </td>
            <td class="olchange text-right">+15.42 <span>(+0.07%)</span></td>
            <td class="fy">
              <span class="addtowl"></span>
            </td>
          </tr>

          <tr>
            <td class="stockname">
              <h4>Pageind</h4>
              <span>31 Mar 2020</span>
            </td>
            
            <td class="price text-right">
              <span class="share-value txt-positive"><em>₹</em>1477.03</span>
            </td>
            <td class="pricechange text-right">+03.62 <span>(+1.02%)</span></td>
            <td class="open-interest text-right">
              <span class="share-value up"><em>₹</em>1477.03</span>
            </td>
            <td class="olchange text-right">+03.62 <span>(+1.02%)</span></td>
            <td class="fy">
              <span class="addtowl"></span>
            </td>
          </tr>
          <tr>
            <td class="stockname">
              <h4>Bergerpaints</h4>
              <span>05 Mar 2020</span>
            </td>
            
            <td class="price text-right">
              <span class="share-value txt-negative"><em>₹</em>1337.93</span>
            </td>
            <td class="pricechange text-right">+20.32 <span>(+0.27%)</span></td>
            <td class="open-interest text-right">
              <span class="share-value down"><em>₹</em>1337.93</span>
            </td>
            <td class="olchange text-right">+20.32 <span>(+0.27%)</span></td>
            <td class="fy">
              <span class="addtowl"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <router-link to="/StockinAction" class="viewmore" tag="a" >
          View More
      </router-link>
    </div>
  </div>
    
  </div> 
</div>           
</div>


