<section class="account-tab-wrapper">
    
    <h3 class="tab_title">Settings</h3>
    <article class="block">
        <div class="inner_block">
            <h4 class="block_title">Security Settings</h4>
            <div class="block_tile">
                <div class="d-flex icon-heading_wrap">
                    <div class="heading_col">
                        <h5 class="icon_heading"><em class="icon-custom-privacy"></em>Change PIN</h5>
                    </div>
                    <div class="action_col ml-auto">
                        <a href="#" class="link" data-toggle="modal" data-target="#changePinModal">UPDATE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner_block">
            <h4 class="block_title">User Preference</h4>
            <div class="block_tile">
                <div class="d-flex icon-heading_wrap" data-toggle="collapse" data-target="#PushNotifications">
                    <div class="heading_col">
                        <h5 class="icon_heading"><em class="icon-custom-notification"></em>Push Notification</h5>
                    </div>
                    <div class="action_col ml-auto">
                        <button type="button" class="btn btn-accordian" data-toggle="collapse" data-target="#PushNotifications"><em class="icon-dropdown-arrow"></em></button>
                    </div>
                </div>
                <div id="PushNotifications" class="collapse panel-body notifications-panel">
                    <div class="block_tile">
                        <div class="d-flex align-items-center">
                            <div class="heading_col">
                                <h5 class="heading">My Account</h5>
                                <p>Get notified about bank account, email address, phone number and other important updates</p>
                            </div>
                            <div class="action_col ml-auto">
                                <div class="toggle-switch sm">
                                    <input type="checkbox" class="checkBox" id="notification1" checked>
                                    <label for="notification1"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block_tile">
                        <div class="d-flex align-items-center">
                            <div class="heading_col">
                                <h5 class="heading">Order Update and Summary</h5>
                                <p>Receive updates on order status, square-off and positions and holdings summary</p>
                            </div>
                            <div class="action_col ml-auto">
                                <div class="toggle-switch sm">
                                    <input type="checkbox" class="checkBox" id="notification3" checked>
                                    <label for="notification3"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block_tile">
                        <div class="d-flex align-items-center">
                            <div class="heading_col">
                                <h5 class="heading">Watchlist Activites</h5>
                                <p>Get notified periodically about price, volume, news, corporate action and other stock scans</p>
                            </div>
                            <div class="action_col ml-auto">
                                <div class="toggle-switch sm">
                                    <input type="checkbox" class="checkBox" id="notification2" checked>
                                    <label for="notification2"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block_tile">
                        <div class="d-flex align-items-center">
                            <div class="heading_col">
                                <h5 class="heading">Fund Alerts</h5>
                                <p>Get notified about funds withdrawn, added, margin short-fall, addition payable amount</p>
                            </div>
                            <div class="action_col ml-auto">
                                <div class="toggle-switch sm">
                                    <input type="checkbox" class="checkBox" id="notification4" checked>
                                    <label for="notification4"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block_tile">
                        <div class="d-flex align-items-center">
                            <div class="heading_col">
                                <h5 class="heading">Angel Advisory</h5>
                                <p>Receive advisory alerts on holdings, angel recomendation and watchlist</p>
                            </div>
                            <div class="action_col ml-auto">
                                <div class="toggle-switch sm">
                                    <input type="checkbox" class="checkBox" id="notification5" checked>
                                    <label for="notification5"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block_tile">
                        <div class="d-flex align-items-center">
                            <div class="heading_col">
                                <h5 class="heading">Market Updates</h5>
                                <p>Get updates on market open & close, breaking news, result declared etc. </p>
                            </div>
                            <div class="action_col ml-auto">
                                <div class="toggle-switch sm">
                                    <input type="checkbox" class="checkBox" id="notification6" checked>
                                    <label for="notification6"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block_tile">
                        <div class="d-flex align-items-center">
                            <div class="heading_col">
                                <h5 class="heading">Offers and Referrals</h5>
                                <p>Get notified of offers, referrals status and rewards</p>
                            </div>
                            <div class="action_col ml-auto">
                                <div class="toggle-switch sm">
                                    <input type="checkbox" class="checkBox" id="notification7" checked>
                                    <label for="notification7"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block_tile">
                        <h4 class="block_title">Other Notifications</h4>
                    </div>
                    <div class="block_tile">
                        <div class="d-flex align-items-center">
                            <div class="heading_col">
                                <h5 class="heading">Picture in Picture Pending Orders</h5>
                                <p>Allows you to track pending orders in a small box pinned at the corner of your Home Screen</p>
                            </div>
                            <div class="action_col ml-auto">
                                <div class="toggle-switch sm">
                                    <input type="checkbox" class="checkBox" id="notification8" checked>
                                    <label for="notification8"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block_tile">
                        <div class="d-flex align-items-center">
                            <div class="heading_col">
                                <h5 class="heading">Sound Notification</h5>
                                <p>Make sound when a important notifications are triggered (Order Executed, Margin Short Fall)</p>
                            </div>
                            <div class="action_col ml-auto">
                                <div class="toggle-switch sm">
                                    <input type="checkbox" class="checkBox" id="notification9" checked>
                                    <label for="notification9"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_tile">
                <div class="d-flex icon-heading_wrap">
                    <div class="heading_col">
                        <h5 class="icon_heading"><em class="icon-custom-moon"></em>Dark Mode</h5>
                    </div>
                    <div class="action_col ml-auto">
                        <div class="toggle-switch sm">
                            <input type="checkbox" class="checkBox" id="darkMode">
                            <label for="darkMode"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_tile">
                <div class="d-flex icon-heading_wrap">
                    <div class="heading_col">
                        <h5 class="icon_heading"><em class="icon-custom-compass"></em>Investment Guide</h5>
                    </div>
                    <div class="action_col ml-auto">
                        <div class="toggle-switch sm">
                            <input type="checkbox" class="checkBox" id="invGuide" checked>
                            <label for="invGuide"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_tile">
                <div class="d-flex icon-heading_wrap">
                    <div class="heading_col">
                        <h5 class="icon_heading"><em class="icon-custom-headset"></em>Ask Angel</h5>
                    </div>
                    <div class="action_col ml-auto">
                        <div class="toggle-switch sm">
                            <input type="checkbox" class="checkBox" id="askAngel" checked>
                            <label for="askAngel"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

</section>

<div class="modal fade changePinModal" id="changePinModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" >
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit PIN</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <em class="custom-times-circle-solid"></em>
        </button>
      </div>
      <div class="modal-body">
        <p class="otp_sent_to">OTP has been sent to <strong><span>+91</span> 9123456783</strong></p>
        <form>
            <div class="form-group form-field otp-field">
                <label class="form-label mb-0">Enter OTP</label>
                <input type="text" class="form-control otp-input" v-model="otpValue" @change="verifyOtp">
                <div class="resend_otp" v-show="countdownVisible">Resend in <span class="countdown">00:{{ countDown }}</span></div>
                <a href="#" class="link resend_link" v-show="resendOtpLink" @click="resendOtp">RESEND OTP</a>
                <span class="otp_correct" v-show="otpCorrect"><em class="icon-bullet-check"></em></span>
                <div class="field_error" v-show="otpError">Enter valid OTP</div>
            </div>
            <div class="form-group">
                <label class="form-label">Set a 4 Digit PIN</label>
                <div class="digit-group" data-group-name="pin" data-autosubmit="false" autocomplete="off">
                  <input type="password" id=" -1" name="pindigit-1" data-next="pindigit-2" v-model="pindigit1" :class="{active:pindigit1.length > 0}"/>
                  <input type="password" id="pindigit-2" name="pindigit-2" data-next="pindigit-3" data-previous="pindigit-1"  v-model="pindigit2" :class="{active:pindigit2.length > 0}"/>
                  <input type="password" id="pindigit-3" name="pindigit-3" data-next="pindigit-4" data-previous="pindigit-2"  v-model="pindigit3" :class="{active:pindigit3.length > 0}"/>
                  <input type="password" id="pindigit-4" name="pindigit-4" data-next="pindigit-5" data-previous="pindigit-3"  v-model="pindigit4" :class="{active:pindigit4.length > 0}"/>
                </div>
            </div>
            <div class="form-group confirm-pin">
                <label class="form-label">Confirm PIN</label>
                <div class="digit-group" data-group-name="pin" data-autosubmit="false" autocomplete="off" >
                    <input type="password" id="confirmPindigit-1" name="confirmPindigit-1" data-next="confirmPindigit-2" v-model="confirmPindigit1" :class="{active:confirmPindigit1.length > 0 , err:diffconfirmPindigit}" />
                    <input type="password" id="confirmPindigit-2" name="confirmPindigit-2" data-next="confirmPindigit-3" data-previous="confirmPindigit-1"  v-model="confirmPindigit2" :class="{active:confirmPindigit2.length > 0 , err:diffconfirmPindigit}"/>
                    <input type="password" id="confirmPindigit-3" name="confirmPindigit-3" data-next="confirmPindigit-4" data-previous="confirmPindigit-2"  v-model="confirmPindigit3" :class="{active:confirmPindigit3.length > 0 , err:diffconfirmPindigit}" />
                    <input type="password" id="confirmPindigit-4" name="confirmPindigit-4" data-next="confirmPindigit-5" data-previous="confirmPindigit-3"  v-model="confirmPindigit4" :class="{active:confirmPindigit4.length > 0 , err:diffconfirmPindigit}" @keyup="pinMatchOrNot()" />

                </div>
               
                <label class="err-msg text-center" v-show="pinMatchErr" >PIN did’t match</label>
            </div>
        </form>
      </div>
      <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-primary btn-md m-0" :class="{ btn_disable: btnDisable }" @click="verifyForm()">SUBMIT</button>
      </div>
    </div>
  </div>
</div>