<div class="acc-logout-modal-sec">
    <div class="modal fade" id="addLogoutModal" tabindex="-1" role="dialog" aria-labelledby="addLogoutModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <em class="custom-times-circle-solid"></em>
                    </button>
                </div>
                <div class="modal-body py-5">
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-between logout-section">
                        <button type="button" class="btn btn-link btn-lg cancel-btn" data-dismiss="modal">CANCEL</button>
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">LOG OUT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>