<div class="acc-inner-sec">
    <div class="shodow-box">
        <div class="about-top-sec text-center">
            <figure>
                <img src="../../assets/images/accounts-imgs/about-us/logo-img.svg">
                <figcaption>
                    <h3>Angel One</h3>
                    <!-- <p>Sevice Truely Personalised</p> -->
                </figcaption>
            </figure>

            <div class="row about-list ">
                <div class="col-4 col-md-4 col-lg-4">
                    <h2>30+</h2>
                    <p>Years of Trust</p>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                    <h2>No.1</h2>
                    <p>Stock Broking</p>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                    <h2>ARQ</h2>
                    <p>Prime</p>
                </div>
            </div>


        </div>
    </div>


    <div class="borderedBox p-0">
        <ul class="icon-info-list">
            <li>
                <em class="custom-phone"></em>
                <div>
                    <label>Phone</label>
                    <p>022-33551111</p>
                </div>
            </li>
            <li>
                <em class="custom-email"></em>
                <div>
                    <label>Email</label>
                    <p>support@angelone.com</p>
                </div>
            </li>
            <li>
                <em class="custom-website"></em>
                <div>
                    <label>Website</label>
                    <p>www.angelbroking.com</p>
                </div>
            </li>
            <li>
                <em class="custom-location"></em>
                <div>
                    <label>Location</label>
                    <p>No. 576/B Service Road, 100 feet Ring Road, Tafe Access Building - 560068</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="borderedBox">
        <h5 class="secTtl">Policies</h5>
        <div id="accordion">
        <div class="accWrap type2">
            <div class="card">
                <div class="card-header" id="headingOne">
                  <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" >
                      <h5 class="icon_heading"><em class="custom-user"></em><strong>Membership Details</strong></h5>
                      <span class="arrow"><em class="icon-dropdown-arrow"></em></span>
                    </a>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                      <div class="col-info">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Angel Broking Pvt. Ltd.</h4>
                                <ul>
                                    <li>
                                        <label>SEBI Regn No</label>
                                        <h4>INZ000161534</h4>
                                    </li>
                                    <li>
                                        <label>Research Analyst SEBI Regn No</label>
                                        <h4>No.INHOOO0O0164</h4>
                                    </li>
                                    <li>
                                        <label>AMFI Regn No. </label>
                                        <h4>77404</h4>
                                    </li>
                                    <li>
                                        <label>Investment Adviser SEBI Regn No. </label>
                                        <h4>INAOO0O08172</h4>
                                    </li>
                                    <li>
                                        <label>BSE cash/ F&O/CD, NSE cash/ F&O/CD, MSEI CD, MCX F&O NCEX F&O, CDSL Regn No.</label>
                                        <h4>INAOO0O08172</h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4>Angel Security Ltd.</h4>
                                <ul>
                                    <li>
                                        <label>Cash No.</label>
                                        <h4>INBO1994639</h4>
                                    </li>
                                    <li>
                                        <label>F&O No.</label>
                                        <h4>INF010994639</h4>
                                    </li>
                                    <li>
                                        <label>UIN</label>
                                        <h4>100002956</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" >
                      <h5 class="icon_heading"><em class="custom-security"></em><strong>Fraud Prevention</strong></h5>
                      <span class="arrow"><em class="icon-dropdown-arrow"></em></span>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="acc-info fraud-prevention-cont">
                        <div class="date-sec">
                            <h6><em class="icon-date"></em><label>Last updated :</label><span>22-07-2020</span></h6>
                        </div>
                       <p>Angel Broking is committed in ensuring that your trading accounts remain secure and your personal information remains private. Here are some tips that will help you feel comfortable when you trade with us.</p>
                       <h4 class="subTtl">Protect Your Online Trading Account:</h4>
                        <!-- <p>Protect Your Online Trading Account:<br> -->
                            <p>The Internet and wireless technology have made it easy for investors to check their Trading Account information and initiate investment transactions in one go. Angel issues this Alert to warn investors to take precautions to help ensure the security of their Trading accounts. Not doing so puts your Account information and investments at risk.</p>
                        <p>By following a few simple steps, you can make it tougher for unauthorized people to gain access to your account. If your account access information has been stolen or compromised you can get in touch with us on 022-28356000 or drop a mail at <a href="mailto:fdssupport@angelbroking.com">fdssupport@angelbroking.com</a>.</p>
                        <h4 class="subTtl">Lock the Door Behind You</h4>
                        <p>It is very important to terminate each online session when you are finished-usually by clicking the "Log out" link on the site. This is the computer equivalent to locking the door when you leave the house. If you merely type in another address, or close or minimize the Web browser window, it may be possible for unauthorized users with access to the same computer to gain access to your account information. Retrieving this information could be as easy as clicking on the Internet browser icon, pressing the browser's Back button, or recalling a browser's Internet History.</p>
                        <h4 class="subTtl">Guard the Front Door</h4>
                        <p>Recently, a popular browser such as Microsoft Internet Explorer has introduced a feature where the browser offers to "remember" your usernames and passwords to secure web sites. Think twice about using this feature as it may allow others who can access your computer to log in to your Trading or other online account. Never allow the browser to remember user names and passwords while using a public or shared computer.</p>
                        <h4 class="subTtl">OTHER TIPS</h4>
                        <p>Here are a few other helpful hints to keep your information safe and secure:</p>
                        <ul class="bulletList">
                            <li>Avoid using any computer that is not your own to access your Trading or other online account.</li>
                            <li>Never share your password information with others.</li>
                            <li>Change passwords regularly.</li>
                            <li>Beware of over-the-shoulder snoops while using public computers.</li>
                            <li>If you suspect that your password has been stolen or used by others, notify us immediately.</li>
                            <li>
                                <p>If you must use a public or borrowed computer, you can marginally diminish the risk by clearing all Temporary Internet Files and History from the browser after you are finished (if you are using Microsoft Internet Explorer, this is done by clicking the Tools menu, selecting Internet Options, then selecting Delete Files from the Temporary Internet Files area and Clear History from the History area). </p>
                                <p>Note: You may not always have the freedom to delete this information from someone else's computer, and you can't be certain if it contains spyware or viruses.</p>
                            </li>
                            <li>Do not store passwords in a file on your PC or laptop. They are at risk if your computer is serviced or stolen.</li>
                        </ul>
                        <p>By taking a few precautions you can avoid the most common pitfalls.</p>
                        <p>Follow general best practices for securing any Internet-connected computer:</p>
                        <ul class="bulletList">
                            <li>Keep your computer up-to-date with the latest security updates</li>
                            <li>Install a firewall and anti-virus software on any laptop or PC with wireless connectivity.</li>
                            <li>While accessing your personal financial information online, you should have a secure web connection at all times. The web site address should start with "https://" instead of "http://" and you should see a secure symbol such as a closed padlock or key on the status bar in the lower right part of your screen</li>
                        </ul>
                        <p>Read Account Statements Carefully</p>
                        <p>Be sure to review your account information regularly. If there are transactions that look suspicious, report them to us immediately.</p>
                      </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" >
                      <h5 class="icon_heading"><em class="custom-file"></em><strong>Privacy Policy</strong></h5>
                      <span class="arrow"><em class="icon-dropdown-arrow"></em></span>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="acc-info privacy-policy-cont">
                        <div class="date-sec">
                            <h6><em class="icon-date"></em><label>Last updated :</label><span>22-07-2020</span></h6>
                        </div>
                       <p>Angel Broking Ltd, Angel Securities Ltd and Angel Commodities Broking Pvt Ltd (hereinafter referred to as 'Angel') has its own unique Privacy Policy. Please read the following to learn more about our Privacy Policy.</p>
                       <p>This Privacy Policy covers Angel's stance towards the personal information which is stored while you are exploring our site and using the services on the site.</p>
                       <p>Gathering and Utilization of Information<br>
                        Angel collects personally identifiable information while registering for Angel Account, Online Trading and Derivatives</p>
                        <h4 class="subTtl">Information Sharing and Disclosure</h4>
                        <ul class="bulletList">
                            <li>Angel will preserve your personal information without selling or renting it to anyone.</li>
                            <li>Only those people or companies will have access to the information who are authorized to do so.</li>
                            <li>Angel will share your information only with your consent</li>
                        </ul>
                        <h4 class="subTtl">Cookies</h4>
                        <p>Angel may set and access Cookies on your computer.</p>
                        <p>Edit Your Account Information and Preferences</p>
                        <p>Angel provides the facility to edit your Account Information and preferences at any time.</p>
                        <h4 class="subTtl">security</h4>
                        <p>Your Angel Account Information is password-protected for your privacy and security.</p>
                        <h4 class="subTtl">Amendments in the Privacy Policy</h4>
                        <p>Angel may change this policy from time to time. We will notify you by posting a prominent announcement on our pages in case of substantial amendments in the way we use your personal information.</p>
                        <h4 class="subTtl">Suggestions or queries</h4>
                        <p>You are invited to forward your queries and suggestions to <a href="#">feedback@angelbroking.com</a></p>
                      </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" >
                      <h5 class="icon_heading"><em class="custom-note"></em><strong>Terms and Conditions</strong></h5>
                      <span class="arrow"><em class="icon-dropdown-arrow"></em></span>
                    </a>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body greyBg">
                      <div class="acc-info">
                        <div class="date-sec">
                            <h6><em class="icon-date"></em><label>Last updated :</label><span>22-07-2020</span></h6>
                        </div>
                        <p>This agreement provides for the terms and conditions for the use of this Application. This Application provides for trading of securities on the relevant exchanges. With this the app also provides Market news, Market depth, Trends and other market information.</p>
                        <p>By Downloading, installing or using this application you agree to following terms and conditions:</p>
                        <h4 class="subTtl">Terms of use</h4>
                        <p>You agree that use of any services, utilities, or features of this Application is subject to all applicable laws, bye-laws, rules, regulations, guidelines, circulars and orders of competent authorities subject to which use of such services etc are regulated or governed and you ere aware of the some 415 I the same ore herein incorporated by reference.</p>
                        <ul class="bulletList highlighted">
                            <li>terms and conditions</li>
                            <li>usage of the application</li>
                            <li>Angel Broking Pvt. Ltd.</li>
                        </ul>
                        <p>You agree that Angel Broking Pvt. Ltd., (Angel) may update the Application to newer versions and/or vary the terms of use from time to time and use of any version shall imply that you have agreed to the terms of use in force at the relevant time,</p>
                        <p>You declare that you are of the age of majority under the laws of your jurisdiction to enter into this agreement,</p>
                        <ul class="bulletList">
                            <li>You agree that use of any services, utilities, orfeatures of this Application</li>
                            <li>You agree that use of any services, utilities, or features of this Application is subject to all applicable laws, bye-laws, rules, regulations, guidelines, circulars and orders of competent authorities subject to which use of such services etc are regulated or governed and you ere aware of the some 415 I the same ore herein incorporated by reference,</li>
                        </ul>
                      </div>
                   
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFive">
                  <router-link to="/risk-management-policy" class="btn btn-link collapsed" >
                      <h5 class="icon_heading"><em class="custom-risk"></em><strong>Risk Policies</strong></h5>
                      <span class="arrow"><em class="icon-dropdown-arrow"></em></span>
                  </router-link>
                </div>
                
              </div>
              <div class="card">
                <div class="card-header" id="headingSix">
                  <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" >
                      <h5 class="icon_heading"><em class="custom-data"></em><strong>Roles and Responsibilities for UPI</strong></h5>
                      <span class="arrow"><em class="icon-dropdown-arrow"></em></span>
                    </a>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body greyBg">
                        <div class="acc-info">
                          <div class="date-sec">
                              <h6><em class="icon-date"></em><label>Last updated :</label><span>22-07-2020</span></h6>
                          </div>
                          <p>This agreement provides for the terms and conditions for the use of this Application. This Application provides for trading of securities on the relevant exchanges.</p>
                          <h4 class="subTtl">Roles</h4>
                          <p>You declare that you are of the age of majority under the laws of your jurisdiction to enter into this agreement,</p>
                          <ul class="bulletList">
                              <li>NPCI owns and operates the Unified Payments Interface (UPI) platform</li>
                              <li>NPCI prescribes rules, regulations, guidelines, and the respective roles, responsibilities and liabilities of the participants, with respect to UPI. This also includes transaction processing and settlement, dispute management and clearing cut-offs for settlement</li>
                              <li>NPCI approves the participation of Issuer Banks, PSP Banks, Third Party Application Providers (TPAP) and Prepaid Payment Instrument issuers (PPIs) in UPI</li>
                              <li>NPCI provides a safe, secure and efficient UPI system and network</li>
                              <li>NPCI provides online transaction routing, processing and settlement services to members participating in UPI</li>
                          </ul>
                          <h4 class="subTtl">Responsibilities</h4>
                          <p>You declare that you are of the age of majority under the laws of your jurisdiction to enter into this agreement,</p>
                          <ul class="bulletList">
                              <li>NPCI can, either directly or through a third party, conduct audit on UPI participants and call for data, information and records, in relation to their participation in UPI</li>
                              <li>NPCI provides the banks participating in UPI access to system where they can download reports, raise chargebacks, update the status of UPI transactions etc</li>
                          </ul>
                        </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
    </div>

    <div class="borderedBox">
        <h5 class="secTtl">Exchange websites</h5>
        <ul class="tag-list">
            <li><a href="https://www.bseindia.com/" target="_blank">BSE</a></li>
            <li><a href="https://www.nseindia.com/" target="_blank">NSE</a></li>
            <li><a href="https://www.ncdex.com/home.htm" target="_blank">NCDEX</a></li>
            <li><a href="https://www.sebi.gov.in/" target="_blank">SEBI</a></li>
            <li><a href="http://www.fmc.gov.in/index.aspx" target="_blank">FMC</a></li>
            <li><a href="https://www.msei.in/" target="_blank">MCX-SX</a></li>
            <li><a href="https://scores.gov.in/scores/Welcome.html" target="_blank">SCORES</a></li>
            <li><a href="https://www.mcxindia.com/" target="_blank">MCX</a></li>
        </ul>
    </div>
   
</div>