@import '../../assets/scss/styles';

.pl-mf-report-section {
    background: $white;
    margin-top: 0.5rem;
    border-radius: 0.25rem;

    .pl-table-wrapper {
        table {
            thead {
                border-top: 1px solid $light-border-color;
                border-bottom: 1px solid $light-border-color;
                white-space: nowrap;
                tr{
                    padding: 0 1rem;
                }
                th {
                    padding: 0.75rem 0.5rem;
                    border: none;
                    font-family: $font-base-reg;
                    font-size: $font-14;
                    letter-spacing: -0.2px;
                }

                .sort-link {
                    display: block;
                    font-family: $font-base-reg;
                    font-size: 0.875rem;
                    color: $base-text;
                    line-height: 1rem;

                    @include laptop {
                        padding: 0.85rem 1rem 0.5rem;
                    }

                    i {
                        font-size: 0.75rem;
                        color: $grey;
                    }

                    .up-down-arrow {
                        display: inline-flex;
                        flex-direction: column;
                        position: relative;
                        top: -0.3rem;
                        line-height: 1rem;
                        margin-left: 0.65rem;

                        span {
                            margin: -0.28rem 0;

                            i {
                                font-size: 0;

                                &:before {
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 0 3px 5px 3px;
                                    border-color: transparent transparent #979ab2 transparent;
                                    display: block;
                                }
                            }

                            &.down {
                                i {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }

                    &.ascending {
                        .up-down-arrow {
                            .up {
                                color: $highlighted;

                                i {
                                    color: $highlighted;

                                    &:before {
                                        border-color: transparent transparent $highlighted transparent;
                                    }

                                }

                            }
                        }
                    }

                    &.descending {
                        .up-down-arrow {
                            .down {
                                color: $highlighted;

                                i {
                                    color: $highlighted;

                                    &:before {
                                        border-color: transparent transparent $highlighted transparent;
                                    }
                                }
                            }
                        }
                    }
                }
                
                
            }

            tbody {
                tr{
                    &:hover {
                         background-color: $tbl-hoverd-bg;
                     }
                     &.panel{
                         padding: 0 1rem;
                     }
                 }

                td {
                    padding: 1rem 0.5rem;
                    font-family: $font-base-med;
                    font-size: $font-16;
                    vertical-align: middle;
                    height: auto !important;
                    &.text-right{
                        padding-right: 1.5rem;
                    }
                    .glvaluewrap{
                        @include flex(flex-end, center);
                        .price{
                            em{
                                display: none;
                                margin-right:1px;
                                font-style: normal;
                            }
                            &.txtNegative{
                                em{
                                    display: inline-block;
                                }
                            }
                        }
                        .percent{
                            @include inlineFlex(flex-end, center);
                            em{
                                display: none;
                               
                                font-style: normal;
                            }
                            &.minus{
                                em{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .price{
                        @include inlineFlex(flex-end, center);
                    }
                }

                .rs {
                    font-style: normal;
                    font-size: $font-16;
                    font-family: $font-pingFangSC-medium;
                    font-weight: normal;
                }
                .shortterm-value, .longterm-value, .buy-value, .sell-value, .ca-value {
                    text-align: right;
                }
               
                .fund-name {
                    text-transform: capitalize;
                    font-family: $font-base-med;
                    font-size: $font-16;
                    letter-spacing: -0.4px;
                    // width: 13.688rem;
                }
                .percent {
                    font-family: $font-base-reg;
                    font-family: $font-16;
                    color: $grey-med;
                    padding-left: 0.5rem;
                }
            }

            tr.panel{
                min-height: 70px;
                td{
                    z-index: 1;
                }
                &:after{
                    z-index:3;
                }
                &:hover{
                    &:before{
                        background:$tbl-hoverd-bg ;
                    }
                    .scripCol{

                       &.stickyCol{
                        background:$tbl-hoverd-bg ;
                       }
                    }
                }
            }
            thead{
                background: $white;
                position: relative;
                z-index: 9;

                &.stickyHead{
                    box-shadow: 0 13px 14px -11px rgba(73 81 106 / 5%);
                }
                .fundCol{
                   &.stickyCol{
                     top:434px;
                     box-shadow: 4px 1px 11px 0px rgb(73 81 106 / 5%);
                   }
                }  
            }
            .fundCol{
                width: 17%;
                &.stickyCol{
                    background: $white;
                    position: fixed;
                    min-width: 232px;
                    left: 0.625rem;
                    z-index: 3;
                    padding-left: 1.5rem;
                    border-right: 1px solid $lighter-border-color;
                    box-shadow: 4px 11px 12px 0 rgba(73, 81, 106, 0.05);
                    + .buyCol{
                        margin-left: 17%;
                    }
                }
                }
                .buyCol{
                    width: 11%;
                }
                .sellCol{
                    width: 11%;
                }
                .caCol{
                    width: 11%;
                }
                .shortTermCol{
                    width: 15%;
                }
                .longTermCol{
                    width: 15%;
                }
                .realisedCol {
                    width: 20%;
                }
        }
    }
}


.pl-mf-table-wrap{
    table{
       min-width: 1300px;
        tbody{
            height: calc(100vh - 476px);
            @include laptop{
                height:  calc(100vh - 476px - 67px);
            }
        }
        
    }
}
