<div>
    <div class="table-block">
        <div class="liveipos-section">
            <div class="title-wrap">
                <h3 class="headtxt">Ongoing Order’s <span class="counttxt">02</span> </h3>
                
    
            </div>
            <div class="liveipo-table-wrapper table-wrapper">
                <table class="table table-hover tbl-theme flex-table stickyonScroll ipotable">
                    <thead>
                        <tr>
                            <th class="companyname">Company Name</th>
                            <th class="investamt">Investment Amount</th>
                            <th class="bipprice">Bid Price</th>
                            <th class="listingon">Listing On</th>
                            <th class="arrow"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="companyname">
                                Nazara Technologies
                            </td>
                            <td class="investamt">₹14,560 <span>(4 shares)</span></td>
                            <td class="bipprice">₹1,890</td>
                            <td class="listingon">2 Apr 2021</td>
                            <td class="arrow">
                                <router-link to="/order-details" class="" tag="a" >
                                    <em class="icon-dropdown-arrow"></em>
                                </router-link>
                            </td>
                        </tr>
                        <tr class="seprator">
                            <td colspan="4">
                                <div class="ipo-aprrove">
                                    Approve payment mandate within <strong>12 Mar 2021</strong> sent to your UPI ID
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="companyname">
                                Nazara Technologies
                            </td>
                            <td class="investamt">₹14,560 <span>(4 shares)</span></td>
                            <td class="bipprice">₹1,890</td>
                            <td class="listingon">2 Apr 2021</td>
                            <td class="arrow">
                                <router-link to="/order-details" class="" tag="a" >
                                    <em class="icon-dropdown-arrow"></em>
                                </router-link>
                            </td>
                        </tr>
                        <tr class="seprator last">
                            <td colspan="4">
                                <div class="ipo-aprrove">
                                    A payment mandate will be sent to your UPI ID <strong>jsamjosh@oksbi</strong> within <strong>48hrs</strong>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="liveipos-section py-2">
            <div class="title-wrap">
                <h3 class="headtxt">Past Order History <span class="counttxt">03</span> </h3>
                
    
            </div>
            <div class="liveipo-table-wrapper table-wrapper">
                <table class="table tbl-theme flex-table stickyonScroll ipotable">
                    <thead>
                        <tr>
                            <th class="companyname">Company Name</th>
                            <th class="investamt">Investment Amount</th>
                            <th class="bipprice">Bid Price</th>
                            <th class="listingon">Listing On</th>
                            <th class="arrow"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="companyname">
                                Nazara Technologies
                            </td>
                            <td class="investamt">₹14,560 <span>(4 shares)</span></td>
                            <td class="bipprice">₹1,890</td>
                            <td class="listingon">2 Apr 2021</td>
                            <td class="arrow">
                                <router-link to="/order-details" class="" tag="a" >
                                    <em class="icon-dropdown-arrow"></em>
                                </router-link>
                            </td>
                        </tr>
                        <tr class="seprator">
                            <td colspan="4">
                                <div class="ipo-alot">
                                    IPO alloted partially, refund amount will be credited by <strong>12 Mar 2021</strong>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="companyname">
                                MTAR Technologies
                            </td>
                            <td class="investamt">₹14,560 <span>(4 shares)</span></td>
                            <td class="bipprice">₹1,890</td>
                            <td class="listingon">2 Apr 2021</td>
                            <td class="arrow">
                                <router-link to="/order-details" class="" tag="a" >
                                    <em class="icon-dropdown-arrow"></em>
                                </router-link>
                            </td>
                        </tr>
                        <tr class="seprator">
                            <td colspan="4">
                                <div class="ipo-cancel">
                                    IPO order was <strong>cancelled</strong>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="companyname">
                                Nazara Technologies
                            </td>
                            <td class="investamt">₹14,560 <span>(4 shares)</span></td>
                            <td class="bipprice">₹1,890</td>
                            <td class="listingon">2 Apr 2021</td>
                            <td class="arrow">
                                <router-link to="/order-details" class="" tag="a" >
                                    <em class="icon-dropdown-arrow"></em>
                                </router-link>
                            </td>
                        </tr>
                        <tr class="seprator">
                            <td colspan="4">
                                <div class="ipo-failed">
                                    IPO order <strong>execution failed</strong>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="companyname">
                                MTAR Technologies
                            </td>
                            <td class="investamt">₹14,560 <span>(4 shares)</span></td>
                            <td class="bipprice">₹1,890</td>
                            <td class="listingon">2 Apr 2021</td>
                            <td class="arrow">
                                <router-link to="/order-details" class="" tag="a" >
                                    <em class="icon-dropdown-arrow"></em>
                                </router-link>
                            </td>
                        </tr>
                        <tr class="seprator">
                            <td colspan="4">
                                <div class="ipo-will">
                                    IPO will be alloted on <strong>12 Mar 2021</strong>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="companyname">
                                Nazara Technologies
                            </td>
                            <td class="investamt">₹14,560 <span>(4 shares)</span></td>
                            <td class="bipprice">₹1,890</td>
                            <td class="listingon">2 Apr 2021</td>
                            <td class="arrow">
                                <router-link to="/order-details" class="" tag="a" >
                                    <em class="icon-dropdown-arrow"></em>
                                </router-link>
                            </td>
                        </tr>
                        <tr class="seprator">
                            <td colspan="4">
                                <div class="ipo-alot">
                                    Refund initiated, your bank account will be credited by 12 Mar 2021
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="companyname">
                                Nazara Technologies
                            </td>
                            <td class="investamt">₹14,560 <span>(4 shares)</span></td>
                            <td class="bipprice">₹1,890</td>
                            <td class="listingon">2 Apr 2021</td>
                            <td class="arrow">
                                <router-link to="/order-details" class="" tag="a" >
                                    <em class="icon-dropdown-arrow"></em>
                                </router-link>
                            </td>
                        </tr>
                        <tr class="seprator last">
                            <td colspan="4">
                                <div class="ipo-listing">
                                    IPO Listing on <strong>08 April</strong>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
    
            
        </div>
    </div>
</div>