<div class="acc-dp-id-sec">
    <div class="borderedBox">
        <div id="accordion">
            <div class="accWrap type2">
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <!-- <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="true">
                            <h3>DP ID <span class="dp-count">2</span></h3>
                            <h5>Depository Participant ID</h5>
                            <span class="arrow"><em class="icon-dropdown-arrow"></em></span>
                        </a> -->
                        <ul class="icon-info-list">
                            <li>
                                <em class="custom-dp-id"></em>
                                <div class="dp-list">
                                    <label>DP ID 1 <span>(Depository Participant ID)</span></label>
                                    <p>1203 3200 5450 8332</p>
                                </div>
                                <a href="#" class="ml-auto mt-4 btn-copy copy_tooltip" data-placement="bottom">
                                    <em class="custom-copy"></em>
                                    <span class="tooltip_popup small">DP Copied!</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="icon-info-list">
                                <li class="p-4">
                                    <em class="custom-dp-id"></em>
                                    <div class="dp-list">
                                        <label>DP ID 2</label>
                                        <p>1203 3200 5450 8332</p>
                                    </div>
                                    <a href="#" class="ml-auto mt-4">
                                        <em class="custom-copy"></em>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>