.icon-advisory:before {
  content: "\e900";
}
.icon-bag:before {
  content: "\e901";
}
.icon-bell:before {
  content: "\e902";
}
.icon-down-arrow:before {
  content: "\e903";
}
.icon-file:before {
  content: "\e904";
}
.icon-full-screen:before {
  content: "\e905";
}
.icon-watch:before {
  content: "\e906";
}
.icon-funds:before {
  content: "\e907";
}
.icon-otp:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-lock:before {
  content: "\e90a";
}
.icon-eye:before {
  content: "\e90b";
}
.icon-market:before {
  content: "\e90c";
}
.icon-more-dots:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-up-arrow:before {
  content: "\e911";
}
.icon-up-down-arrow:before {
  content: "\e912";
}
.icon-delete:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e914";
}
.icon-info:before {
  content: "\e915";
}
.icon-back:before {
  content: "\e916";
}
.icon-close:before {
  content: "\e917";
}
.icon-check:before {
  content: "\e918";
}
.icon-expand:before {
  content: "\e919";
}
.icon-bullet-check:before {
  content: "\e91a";
}
.icon-dropdown-arrow:before {
  content: "\e91b";
}
.icon-rupee:before {
  content: "\e91c";
}
.icon-clock:before {
  content: "\e91d";
}
.icon-minus:before {
  content: "\e91e";
}
.icon-cancelled-sm-icon:before {
  content: "\e91f";
}
.icon-exeuted-sm-icon:before {
  content: "\e920";
}
.icon-pending-sm-icon:before {
  content: "\e921";
}
.icon-rupee-bold:before {
  content: "\e922";
}
.icon-bank:before {
  content: "\e923";
}
.icon-bell-notification:before {
  content: "\e924";
}
.icon-wallet:before {
  content: "\e925";
}
.icon-camera:before {
  content: "\e926";
}
.icon-double-tick-indicator:before {
  content: "\e927";
}
.icon-language:before {
  content: "\e928";
}
.icon-date:before {
  content: "\e929";
}
.icon-user:before {
  content: "\e92a";
}
