

/*Fonts*/

$font-icomoon: "icomoon";
$font-icomoon-src: "icomoon";
$font-icomoon-hash: "icomoon";

$font-base-bold: "barlow-bold";
$font-base-bold-src: "barlow-bold";
$font-base-bold-hash: "barlow-bold";

$font-base-med: "barlow-medium";
$font-base-med-src: "barlow-medium";
$font-base-med-hash: "barlow-medium";

$font-base-reg: "barlow-regular";
$font-base-reg-src: "barlow-regular";
$font-base-reg-hash: "barlow-regular";

$font-base-light: "barlow-light";
$font-base-light-src: "barlow-light";
$font-base-light-hash: "barlow-light";


$font-base-semibold: "barlow-semibold";
$font-base-semibold-src: "barlow-semibold";
$font-base-semibold-hash: "barlow-semibold";

$font-pingFangSC-medium: "pingFangSC-medium";
$font-pingFangSC-medium-src: "pingFangSC-medium";
$font-pingFangSC-medium-hash: "pingFangSC-medium";

$base-text:#1d1e20;
$highlighted:#3f5bd9;
$highlighted-bg:#f4f5fd;
$hovered-bg:#eff0f5;
$white:#ffffff;
$light-grey:#eff0f5;
$grey:#4f5164;
$placeholder:#979ab2;
$border-color:#dbdde7;
$light-border-color:#ebecf3;
$lighter-border-color:#f5f6f9;
$border-type1:#e8e9f0;
$border-type2:#e8ebf1;
$border-type3:#f2f6fd;
$border-type4: #ededed;
$border-type5: #e0e0ec;
$positive:#21b7a8;
$positive1: #1ec7b6;
$negative:#f65e5a;
$grey-med:#5d5e63;
$dark-grey:#1c1d1f;
$dark-grey1:#414246;
$positive-bg:#eaf7f6;
$negative-bg:#ffe5e4;
$red:#ef5854;
$green:#21b7a8;
$orange:#f9ba4d;
$orange-bg:#fff1d7;
$purple:#581dbe;
$purple-bg:#e8dbff;
$bg:#f5f6fa;
$grey-bg:#f7f9ff;
$purple-light:#8491ca;
$blue-light:#aac3f4;
$disabled:#cacbce;
$disabled1:#c2c6cc;
$disabled2:#adafb8;
$grey1: #2a394e;
$grey2:#6a7582;
$grey3: #e0e0ec;
$grey4: #e3e6f7;
$pink-bg:#fef7ea;
$light-blue:#f0f2fc;
$warning:#f19d0c;
$hoveredTdBg:#fafbff;
$sky-blue: #ebf7ff;
$dark-blue: #115a99;
$highlighted1: #4758e1;

$positive-bg:#E4F6F4;
$negative-bg:#FDEBEA;
$positive-txt:#21b7a8;
$negative-txt:#ef5854;

$icon-color: #6a7582;
$note: #fff4e5;
$input-bg: #f4f6fb;
$error: #ef5854;
$input-border: #e8ebf1;
$datatable-input: #dddee8;
$checked: #1ec7b5;
$placeholder-light: #c2c6cc;
$checked: #1ec7b5;
$blue-bg:#e1e6ff;
$blue-border:#3f5bd9;
$light-grey-bg:#f7f9fc;
$tbl-hoverd-bg:#f6f8ff;
$tbl-hoverd-bg1: #f9faff;
$sky-blue:#e1f5f3;
$sky-blue-bg: #ebf7ff;
$light-grey-bg1: #f7f7f7;
$pink-bg1: #f8ccca;
$pink-bg2: #f6bab8;
$pink-bg3: #f18380;
$pink-bg4: #f29593;
$pink-bg5: #ef706c;
$red-bg: #ee5d59;

$font-10: 0.625rem;
$font-11: 0.688rem;
$font-12: 0.75rem;
$font-13: 0.813rem;
$font-14: 0.875rem;
$font-15: 0.938rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-22: 1.375rem;
$font-24: 1.5rem;
$font-26: 1.625rem;
$font-28: 1.75rem;
$font-30: 1.875rem;
$font-32: 2rem;
$font-34: 1.125rem;
$font-36: 2.25rem;
$font-38: 2.375rem;
$font-48: 3rem;
$font-50: 3.125rem;
$font-56: 3.5rem;
$top-info:#4bd9ea;
$bearishBg:#ffe8e6;

