
<div class="main-content portfolio-page">
  <div class="main-content-in">
    <article class="field_bg full-height p-0">
      <div class="portfolio-content">
      <div class="stickyTabWrap  theme2">
      <div class="tab-wrap greyBg " >
          <ul class="nav nav-tabs main-nav">
            <li class="nav-item"><a href="" data-target="#openOrderSec" data-toggle="tab" class="nav-link small" :class="activeTab==undefined||activeTab==''?'active':''">Open Orders</a></li>
            <li class="nav-item"><a href="" data-target="#positionSec" data-toggle="tab" class="nav-link small" >Positions</a></li>
            <li class="nav-item"><a href="" data-target="#holdingSec" data-toggle="tab" class="nav-link small" :class="activeTab=='HoldingTab'?'active':''">Holdings</a></li>
          </ul>
          <div id="tabsContent" class="tab-content">
            <div id="openOrderSec" class="tab-pane" :class="activeTab==undefined||activeTab==''?'active':''">
             <Portfolioopenorders></Portfolioopenorders>
            </div>
            <div id="positionSec" class="tab-pane">
              <Portfoliopositions></Portfoliopositions>
            </div>
            <div id="holdingSec" class="tab-pane" :class="activeTab=='HoldingTab'?'active':''">
              <Portfolioholdings  ref="portfolioholdingData" ></Portfolioholdings>
            </div>
          </div>
      </div>
      </div>
    </div>
    </article>
    
  </div>
</div>

<div class="buySideBar" >
  <Buyedgecases></Buyedgecases>
</div>