<div class="main-content markets-page">
    <div class="main-content-in">
      <article class="field_bg full-height p-0">
        <div class="stickyTabWrap advisoryInvestofolioTabWrap">
          <div class="tab-wrap greyBg ">
            <ul class="nav nav-tabs tab-links-wrap" id="tab-links">
              <li class="nav-item"><a href="" data-target="#equitymarket" data-toggle="tab"
                  class="nav-link small active">Equity Market</a></li>
              <li class="nav-item"><a href="" data-target="#derivativemarket" data-toggle="tab" class="nav-link small">Derivative Market</a></li>
            </ul>
            <div id="tabsContent" class="tab-content">
              <div id="equitymarket" class="tab-pane active">
                <div class="equitymarket-tab tabContentWrap ">
                  <EquityTabContent></EquityTabContent>
                </div>
              </div>
              <div id="derivativemarket" class="tab-pane">
                <div class="derivativemarket-tab tabContentWrap">
                  <Derivativetabcontent></Derivativetabcontent>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>